In [ ]:
pip install -r requirements.txt

Explore stock market dataset from Yahoo Finance

In [67]:
import yfinance as yf
import pandas as pd

Load broad market indicies

In [63]:
broad_market_indicies = '^SPX ^NDX ^VIX ^RUT DX-Y.NYB ^TNX'

In [64]:
broad_market = yf.download(broad_market_indicies, period='max', group_by='tickers') 
broad_market

[*********************100%%**********************]  6 of 6 completed

             ^VIX                                         ^TNX                \
             Open   High    Low  Close Adj Close Volume   Open   High    Low
Date
1927-12-30    NaN    NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
1928-01-03    NaN    NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
1928-01-04    NaN    NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
1928-01-05    NaN    NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
1928-01-06    NaN    NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
...           ...    ...    ...    ...       ...    ...    ...    ...    ...
2024-01-02  13.22  14.23  13.10  13.20     13.20    0.0  3.969  3.973  3.918
2024-01-03  13.35  14.22  13.33  14.04     14.04    0.0  3.978  4.008  3.894
2024-01-04  13.93  14.20  13.64  14.13     14.13    0.0  3.974  4.006  3.971
2024-01-05  14.24  14.58  13.29  13.35     13.35    0.0  4.038  4.099  3.953
2024-01-08  14.00  14.18  13.02  13.08     13.08    0.0  4.059  4.063  3.966

                   ...    DX-Y.NYB                                 \
            Close  ...         Low       Close   Adj Close Volume
Date               ...
1927-12-30    NaN  ...         NaN         NaN         NaN    NaN
1928-01-03    NaN  ...         NaN         NaN         NaN    NaN
1928-01-04    NaN  ...         NaN         NaN         NaN    NaN
1928-01-05    NaN  ...         NaN         NaN         NaN    NaN
1928-01-06    NaN  ...         NaN         NaN         NaN    NaN
...           ...  ...         ...         ...         ...    ...
2024-01-02  3.946  ...  101.339996  102.199997  102.199997    0.0
2024-01-03  3.907  ...  102.080002  102.459999  102.459999    0.0
2024-01-04  3.991  ...  102.150002  102.419998  102.419998    0.0
2024-01-05  4.042  ...  101.910004  102.410004  102.410004    0.0
2024-01-08  4.002  ...  102.074997  102.285004  102.285004    0.0

                   ^SPX                                                      \
                   Open         High          Low        Close    Adj Close
Date
1927-12-30    17.660000    17.660000    17.660000    17.660000    17.660000
1928-01-03    17.760000    17.760000    17.760000    17.760000    17.760000
1928-01-04    17.719999    17.719999    17.719999    17.719999    17.719999
1928-01-05    17.549999    17.549999    17.549999    17.549999    17.549999
1928-01-06    17.660000    17.660000    17.660000    17.660000    17.660000
...                 ...          ...          ...          ...          ...
2024-01-02  4745.200195  4754.330078  4722.669922  4742.830078  4742.830078
2024-01-03  4725.069824  4729.290039  4699.709961  4704.810059  4704.810059
2024-01-04  4697.419922  4726.779785  4687.529785  4688.680176  4688.680176
2024-01-05  4690.569824  4721.490234  4682.109863  4697.240234  4697.240234
2024-01-08  4703.700195  4764.540039  4699.819824  4763.540039  4763.540039


                  Volume
Date
1927-12-30  0.000000e+00
1928-01-03  0.000000e+00
1928-01-04  0.000000e+00
1928-01-05  0.000000e+00
1928-01-06  0.000000e+00
...                  ...
2024-01-02  3.743050e+09
2024-01-03  3.950760e+09
2024-01-04  3.715480e+09
2024-01-05  3.844370e+09
2024-01-08  2.313062e+09

[24309 rows x 36 columns]

In [65]:
broad_market.to_csv('data/broad_market.csv.bz2', index='Date')

Load Sector Indicies

In [ ]:
sector_indicies = 'XLE ^SP500-15 ^SP500-20 ^SP500-25 ^SP500-30 ^SP500-35 ^SP500-40 ^SP500-45 ^SP500-50 ^SP500-55 ^SP500-60'

In [ ]:
sectors = yf.download(sector_indicies, period='max') 
sectors

In [ ]:
sectors.to_csv('data/sectors.csv.bz2')

Load Growth Stocks

In [ ]:

ibd50 = pd.read_csv('data/IBD50.csv')
ibd50

In [ ]:
ibd250 = pd.read_csv('data/IBD250.csv')
ibd250

In [ ]:
# merge IBD 50 and 250 symbol sets
ibd50_set = set(ibd50['Symbol'])
ibd250_set = set(ibd250['Symbol'])
ibd_growth_set = ibd50_set.union(ibd250_set)

In [ ]:
len(ibd_growth_set)

In [ ]:
ibdgrowth_str = ' '.join(ibd_growth_set)
ibdgrowth_str

In [ ]:
ibdgrowth_data = yf.download(ibdgrowth_str, period='max', group_by='tickers') 
ibdgrowth_data

In [ ]:
ibdgrowth_data.columns.levels

In [ ]:
# for ticker in ibd50_data.columns.levels[0]:
#    print(f'ticker: {ticker}')
#    ticker_data = ibd50_data[ticker]
#    print(f'ticker historic data: {ticker_data}')
#    # remove missing values
#    ticker_data = ticker_data.dropna()
#    print(f'ticker historic data: {ticker_data}')
#    # save ticker data
#    ticker_data.to_csv(f'data/{ticker}.csv')

In [ ]:
ibdgrowth_data.to_csv('data/ibdgrowth_hist.csv.bz2', index='Date')

In [54]:
ibdgrowth_loaded = pd.read_csv('data/ibdgrowth_hist.csv.bz2', header=[0, 1], index_col=0)
ibdgrowth_loaded

                          RYZB                                              \
                          Open       High        Low      Close  Adj Close
Date
1962-01-02 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-03 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-04 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-05 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-08 00:00:00        NaN        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...        ...
2024-01-02 00:00:00  62.000000  62.099998  61.900002  61.950001  61.950001
2024-01-03 00:00:00  61.990002  62.000000  61.759998  61.810001  61.810001
2024-01-04 00:00:00  62.020000  62.020000  61.750000  61.840000  61.840000
2024-01-05 00:00:00  61.849998  61.985001  61.770000  61.980000  61.980000
2024-01-08 00:00:00  61.950001  61.990002  61.889999  61.912498  61.912498

                                     PATH                                   \
                        Volume       Open       High        Low      Close
Date
1962-01-02 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-03 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-04 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-05 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-08 00:00:00        NaN        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...        ...
2024-01-02 00:00:00  1582500.0  24.520000  24.613001  23.629999  23.799999
2024-01-03 00:00:00   949400.0  23.260000  23.440001  22.510000  22.570000
2024-01-04 00:00:00   780400.0  22.500000  22.760000  22.290001  22.570000
2024-01-05 00:00:00   458700.0  22.450001  22.895000  22.260000  22.610001
2024-01-08 00:00:00   284138.0        NaN        NaN        NaN        NaN

                     ...        TJX                                   \
                     ...        Low      Close  Adj Close     Volume
Date                 ...
1962-01-02 00:00:00  ...        NaN        NaN        NaN        NaN
1962-01-03 00:00:00  ...        NaN        NaN        NaN        NaN
1962-01-04 00:00:00  ...        NaN        NaN        NaN        NaN
1962-01-05 00:00:00  ...        NaN        NaN        NaN        NaN
1962-01-08 00:00:00  ...        NaN        NaN        NaN        NaN
...                  ...        ...        ...        ...        ...
2024-01-02 00:00:00  ...  92.830002  93.279999  93.279999  5273500.0
2024-01-03 00:00:00  ...  91.660004  91.699997  91.699997  5337800.0
2024-01-04 00:00:00  ...  91.309998  92.779999  92.779999  5328000.0
2024-01-05 00:00:00  ...  91.559998  91.709999  91.709999  4533700.0
2024-01-08 00:00:00  ...  91.644997  91.978996  91.978996  1635651.0

                          BLKB                                              \
                          Open       High        Low      Close  Adj Close
Date
1962-01-02 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-03 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-04 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-05 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-08 00:00:00        NaN        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...        ...
2024-01-02 00:00:00  85.910004  86.360001  84.779999  85.570000  85.570000
2024-01-03 00:00:00  85.330002  85.570000  83.860001  83.910004  83.910004
2024-01-04 00:00:00  84.160004  84.650002  83.339996  83.449997  83.449997
2024-01-05 00:00:00  82.820000  83.660004  80.019997  81.730003  81.730003
2024-01-08 00:00:00  82.010002  83.260002  82.010002  82.720001  82.720001


                       Volume
Date
1962-01-02 00:00:00       NaN
1962-01-03 00:00:00       NaN
1962-01-04 00:00:00       NaN
1962-01-05 00:00:00       NaN
1962-01-08 00:00:00       NaN
...                       ...
2024-01-02 00:00:00  245100.0
2024-01-03 00:00:00  218800.0
2024-01-04 00:00:00  190300.0
2024-01-05 00:00:00  255200.0
2024-01-08 00:00:00   53176.0

[15611 rows x 1854 columns]

In [61]:
for ticker in ibdgrowth_loaded.columns.levels[0][:2]:
    print(f'ticker: {ticker}')
    ticker_data = ibdgrowth_loaded[ticker]
    print(f'ticker historic data: {ticker_data}')
    # remove missing values
    ticker_data = ticker_data.dropna()
    print(f'ticker historic data without missing data: {ticker_data}')

ticker: AAON
ticker historic data:                           Open       High        Low      Close  Adj Close  \
Date
1962-01-02 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-03 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-04 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-05 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-08 00:00:00        NaN        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...        ...
2024-01-02 00:00:00  73.040001  74.160004  72.510002  73.900002  73.900002
2024-01-03 00:00:00  73.190002  73.629997  72.160004  73.110001  73.110001
2024-01-04 00:00:00  72.889999  74.199997  72.500000  73.739998  73.739998
2024-01-05 00:00:00  73.070000  73.959999  71.730003  72.449997  72.449997
2024-01-08 00:00:00  72.360001  73.400002  72.360001  73.110001  73.110001

                       Volume
Date
1962-01-02 00:00:00       NaN
1962-01-03 00:00:00       NaN
1962-01-04 00:00:00       NaN
1962-01-05 00:00:00       NaN
1962-01-08 00:00:00       NaN
...                       ...
2024-01-02 00:00:00  375700.0
2024-01-03 00:00:00  456000.0
2024-01-04 00:00:00  394600.0
2024-01-05 00:00:00  349600.0
2024-01-08 00:00:00   57659.0

[15611 rows x 6 columns]
ticker historic data without missing data:                           Open       High        Low      Close  Adj Close  \
Date
1992-12-16 00:00:00   0.066509   0.066509   0.066509   0.066509   0.050325
1992-12-17 00:00:00   0.079810   0.086461   0.066509   0.079810   0.060390
1992-12-18 00:00:00   0.079810   0.079810   0.079810   0.079810   0.060390
1992-12-21 00:00:00   0.066509   0.066509   0.059858   0.066509   0.050325
1992-12-22 00:00:00   0.066509   0.079810   0.066509   0.079810   0.060390
...                        ...        ...        ...        ...        ...
2024-01-02 00:00:00  73.040001  74.160004  72.510002  73.900002  73.900002
2024-01-03 00:00:00  73.190002  73.629997  72.160004  73.110001  73.110001
2024-01-04 00:00:00  72.889999  74.199997  72.500000  73.739998  73.739998
2024-01-05 00:00:00  73.070000  73.959999  71.730003  72.449997  72.449997
2024-01-08 00:00:00  72.360001  73.400002  72.360001  73.110001  73.110001

                       Volume
Date
1992-12-16 00:00:00    3759.0
1992-12-17 00:00:00  246208.0
1992-12-18 00:00:00   22553.0
1992-12-21 00:00:00   50745.0
1992-12-22 00:00:00   93973.0
...                       ...
2024-01-02 00:00:00  375700.0
2024-01-03 00:00:00  456000.0
2024-01-04 00:00:00  394600.0
2024-01-05 00:00:00  349600.0
2024-01-08 00:00:00   57659.0

[7821 rows x 6 columns]
ticker: ABBNY
ticker historic data:                           Open       High        Low      Close  Adj Close  \
Date
1962-01-02 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-03 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-04 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-05 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-08 00:00:00        NaN        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...        ...
2024-01-02 00:00:00  43.610001  43.869999  43.380001  43.439999  43.439999
2024-01-03 00:00:00  42.419998  42.500000  42.119999  42.290001  42.290001
2024-01-04 00:00:00  42.580002  42.959999  42.570000  42.599998  42.599998
2024-01-05 00:00:00  42.180000  42.560001  42.099998  42.209999  42.209999
2024-01-08 00:00:00  42.540001  42.990002  42.540001  42.790001  42.790001

                       Volume
Date
1962-01-02 00:00:00       NaN
1962-01-03 00:00:00       NaN
1962-01-04 00:00:00       NaN
1962-01-05 00:00:00       NaN
1962-01-08 00:00:00       NaN
...                       ...
2024-01-02 00:00:00  206100.0
2024-01-03 00:00:00  306400.0
2024-01-04 00:00:00  285400.0
2024-01-05 00:00:00  188100.0
2024-01-08 00:00:00  113132.0

[15611 rows x 6 columns]
ticker historic data without missing data:                           Open       High        Low      Close  Adj Close  \
Date
2001-04-06 00:00:00  17.000000  17.000000  16.781250  16.828125   7.985836
2001-04-09 00:00:00  16.900000  17.299999  16.900000  17.299999   8.209765
2001-04-10 00:00:00  17.750000  17.920000  17.700001  17.790001   8.442297
2001-04-11 00:00:00  17.500000  17.600000  17.400000  17.600000   8.352129
2001-04-12 00:00:00  17.500000  17.500000  17.400000  17.500000   8.304677
...                        ...        ...        ...        ...        ...
2024-01-02 00:00:00  43.610001  43.869999  43.380001  43.439999  43.439999
2024-01-03 00:00:00  42.419998  42.500000  42.119999  42.290001  42.290001
2024-01-04 00:00:00  42.580002  42.959999  42.570000  42.599998  42.599998
2024-01-05 00:00:00  42.180000  42.560001  42.099998  42.209999  42.209999
2024-01-08 00:00:00  42.540001  42.990002  42.540001  42.790001  42.790001

                       Volume
Date
2001-04-06 00:00:00  162100.0
2001-04-09 00:00:00   31300.0
2001-04-10 00:00:00   39500.0
2001-04-11 00:00:00   17900.0
2001-04-12 00:00:00   33000.0
...                       ...
2024-01-02 00:00:00  206100.0
2024-01-03 00:00:00  306400.0
2024-01-04 00:00:00  285400.0
2024-01-05 00:00:00  188100.0
2024-01-08 00:00:00  113132.0

[5724 rows x 6 columns]

Experiment with other stock data

In [68]:

msft = yf.Ticker("MSFT")
print(msft)
"""
returns
<yfinance.Ticker object at 0x1a1715e898>
"""

yfinance.Ticker object <MSFT>

'\nreturns\n<yfinance.Ticker object at 0x1a1715e898>\n'

In [69]:
import json

# get stock info
print(json.dumps(msft.info, indent=2))

"""
returns:
{
 'quoteType': 'EQUITY',
 'quoteSourceName': 'Nasdaq Real Time Price',
 'currency': 'USD',
 'shortName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
  ...
 'symbol': 'MSFT'
}
"""

{
  "address1": "One Microsoft Way",
  "city": "Redmond",
  "state": "WA",
  "zip": "98052-6399",
  "country": "United States",
  "phone": "425 882 8080",
  "website": "https://www.microsoft.com",
  "industry": "Software - Infrastructure",
  "industryKey": "software-infrastructure",
  "industryDisp": "Software - Infrastructure",
  "sector": "Technology",
  "sectorKey": "technology",
  "sectorDisp": "Technology",
  "longBusinessSummary": "Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.",
  "fullTimeEmployees": 221000,
  "companyOfficers": [
    {
      "maxAge": 1,
      "name": "Mr. Satya  Nadella",
      "age": 56,
      "title": "Chairman & CEO",
      "yearBorn": 1967,
      "fiscalYear": 2023,
      "totalPay": 9276400,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Mr. Bradford L. Smith LCA",
      "age": 64,
      "title": "President & Vice Chairman",
      "yearBorn": 1959,
      "fiscalYear": 2023,
      "totalPay": 3591277,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Ms. Amy E. Hood",
      "age": 51,
      "title": "Executive VP & CFO",
      "yearBorn": 1972,
      "fiscalYear": 2023,
      "totalPay": 3452196,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Mr. Judson B. Althoff",
      "age": 50,
      "title": "Executive VP & Chief Commercial Officer",
      "yearBorn": 1973,
      "fiscalYear": 2023,
      "totalPay": 3355797,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Mr. Christopher David Young",
      "age": 51,
      "title": "Executive Vice President of Business Development, Strategy & Ventures",
      "yearBorn": 1972,
      "fiscalYear": 2023,
      "totalPay": 2460507,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Ms. Alice L. Jolla",
      "age": 57,
      "title": "Corporate VP & Chief Accounting Officer",
      "yearBorn": 1966,
      "fiscalYear": 2023,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Mr. James Kevin Scott",
      "age": 51,
      "title": "Executive VP of AI & CTO",
      "yearBorn": 1972,
      "fiscalYear": 2023,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Brett  Iversen",
      "title": "Vice President of Investor Relations",
      "fiscalYear": 2023,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Mr. Hossein  Nowbar",
      "title": "Chief Legal Officer",
      "fiscalYear": 2023,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Mr. Frank X. Shaw",
      "title": "Chief Communications Officer",
      "fiscalYear": 2023,
      "exercisedValue": 0,
      "unexercisedValue": 0
    }
  ],
  "auditRisk": 6,
  "boardRisk": 4,
  "compensationRisk": 2,
  "shareHolderRightsRisk": 2,
  "overallRisk": 2,
  "governanceEpochDate": 1704067200,
  "compensationAsOfEpochDate": 1703980800,
  "maxAge": 86400,
  "priceHint": 2,
  "previousClose": 375.79,
  "open": 376.37,
  "dayLow": 376.38,
  "dayHigh": 384.06,
  "regularMarketPreviousClose": 375.79,
  "regularMarketOpen": 376.37,
  "regularMarketDayLow": 376.38,
  "regularMarketDayHigh": 384.06,
  "dividendRate": 3.0,
  "dividendYield": 0.008,
  "exDividendDate": 1707868800,
  "payoutRatio": 0.2636,
  "fiveYearAvgDividendYield": 1.0,
  "beta": 0.876,
  "trailingPE": 37.280582,
  "forwardPE": 29.628857,
  "volume": 15711198,
  "regularMarketVolume": 15711198,
  "averageVolume": 26143813,
  "averageVolume10days": 19108420,
  "averageDailyVolume10Day": 19108420,
  "bid": 383.15,
  "ask": 383.18,
  "bidSize": 800,
  "askSize": 900,
  "marketCap": 2853913493504,
  "fiftyTwoWeekLow": 230.68,
  "fiftyTwoWeekHigh": 384.3,
  "priceToSalesTrailing12Months": 13.072757,
  "fiftyDayAverage": 367.4368,
  "twoHundredDayAverage": 332.43674,
  "trailingAnnualDividendRate": 2.79,
  "trailingAnnualDividendYield": 0.007424359,
  "currency": "USD",
  "enterpriseValue": 2754705883136,
  "profitMargins": 0.35314998,
  "floatShares": 7425796261,
  "sharesOutstanding": 7432260096,
  "sharesShort": 53704127,
  "sharesShortPriorMonth": 47353456,
  "sharesShortPreviousMonthDate": 1700006400,
  "dateShortInterest": 1702598400,
  "sharesPercentSharesOut": 0.0072000003,
  "heldPercentInsiders": 0.00055,
  "heldPercentInstitutions": 0.73016,
  "shortRatio": 1.77,
  "shortPercentOfFloat": 0.0072000003,
  "impliedSharesOutstanding": 7432260096,
  "bookValue": 29.702,
  "priceToBook": 12.928085,
  "lastFiscalYearEnd": 1688083200,
  "nextFiscalYearEnd": 1719705600,
  "mostRecentQuarter": 1696032000,
  "earningsQuarterlyGrowth": 0.27,
  "netIncomeToCommon": 77096001536,
  "trailingEps": 10.3,
  "forwardEps": 12.96,
  "pegRatio": 2.17,
  "lastSplitFactor": "2:1",
  "lastSplitDate": 1045526400,
  "enterpriseToRevenue": 12.618,
  "enterpriseToEbitda": 25.161,
  "52WeekChange": 0.58921826,
  "SandP52WeekChange": 0.20000207,
  "lastDividendValue": 0.75,
  "lastDividendDate": 1700006400,
  "exchange": "NMS",
  "quoteType": "EQUITY",
  "symbol": "MSFT",
  "underlyingSymbol": "MSFT",
  "shortName": "Microsoft Corporation",
  "longName": "Microsoft Corporation",
  "firstTradeDateEpochUtc": 511108200,
  "timeZoneFullName": "America/New_York",
  "timeZoneShortName": "EST",
  "uuid": "b004b3ec-de24-385e-b2c1-923f10d3fb62",
  "messageBoardId": "finmb_21835",
  "gmtOffSetMilliseconds": -18000000,
  "currentPrice": 383.99,
  "targetHighPrice": 475.0,
  "targetLowPrice": 285.0,
  "targetMeanPrice": 411.49,
  "targetMedianPrice": 415.0,
  "recommendationMean": 1.7,
  "recommendationKey": "buy",
  "numberOfAnalystOpinions": 45,
  "totalCash": 143945007104,
  "totalCashPerShare": 19.368,
  "ebitda": 109482999808,
  "totalDebt": 105681002496,
  "quickRatio": 1.531,
  "currentRatio": 1.663,
  "totalRevenue": 218310000640,
  "debtToEquity": 47.881,
  "revenuePerShare": 29.347,
  "returnOnAssets": 0.14718,
  "returnOnEquity": 0.39106998,
  "freeCashflow": 51013873664,
  "operatingCashflow": 94966996992,
  "earningsGrowth": 0.272,
  "revenueGrowth": 0.128,
  "grossMargins": 0.69511,
  "ebitdaMargins": 0.5015,
  "operatingMargins": 0.47587,
  "financialCurrency": "USD",
  "trailingPegRatio": 2.2741
}

"\nreturns:\n{\n 'quoteType': 'EQUITY',\n 'quoteSourceName': 'Nasdaq Real Time Price',\n 'currency': 'USD',\n 'shortName': 'Microsoft Corporation',\n 'exchangeTimezoneName': 'America/New_York',\n  ...\n 'symbol': 'MSFT'\n}\n"

In [ ]:

# get historical market data
msft_hist = msft.history(period="max")
print(msft_hist)
"""
returns:
              Open    High    Low    Close      Volume  Dividends  Splits
Date
1986-03-13    0.06    0.07    0.06    0.07  1031788800        0.0     0.0
1986-03-14    0.07    0.07    0.07    0.07   308160000        0.0     0.0
...
2019-04-15  120.94  121.58  120.57  121.05    15792600        0.0     0.0
2019-04-16  121.64  121.65  120.10  120.77    14059700        0.0     0.0
"""

In [ ]:
# show actions (dividends, splits)
print(msft.actions)
"""
returns:
            Dividends  Splits
Date
1987-09-21       0.00     2.0
1990-04-16       0.00     2.0
...
2018-11-14       0.46     0.0
2019-02-20       0.46     0.0
"""

In [ ]:

# show dividends
print(msft.dividends)
"""
returns:
Date
2003-02-19    0.08
2003-10-15    0.16
...
2018-11-14    0.46
2019-02-20    0.46
"""

In [ ]:
# show splits
print(msft.splits)
"""
returns:
Date
1987-09-21    2.0
1990-04-16    2.0
...
1999-03-29    2.0
2003-02-18    2.0
"""

In [ ]:
msft_hist.head()

In [ ]:
msft_hist.tail()

In [ ]:
# create a deep copy so we can experiment with data without triggering unnecessary downloads 
df=msft_hist.copy(deep=True)

# df=msft_hist.reset_index(drop=True)
# data['Date']=pd.to_datetime(data['Date'])
print(len(df))
df.head()

Ingest data into darts timeseries

In [ ]:
# Count rows without values
# https://stackoverflow.com/questions/28199524/best-way-to-count-the-number-of-rows-with-missing-values-in-a-pandas-dataframe
df.shape[0] - df.dropna().shape[0]

In [ ]:
# count any cells without values
df.isnull().values.ravel().sum()

Convert data to timeseries format that models can work with

Regular time intervals between data points and no missing values

In [ ]:
df

In [ ]:
import pandas as pd

# Clean up date index. Remove time zone.
df.index = pd.to_datetime(df.index, utc=True).date
df.index = pd.to_datetime(df.index, utc=True)
df.index.name = 'Date'
df

In [ ]:
df.index

In [ ]:
type(df.index)

In [ ]:
from darts import TimeSeries

series = TimeSeries.from_dataframe(df, fill_missing_dates=True, freq='B') # value_cols=["Close"],  "Open", "High", "Low", "Close", "Volume", "Dividends", "Stock Splits"

In [ ]:
# get regularized time series with NaN fill-ins
reg_df = series.pd_dataframe()

In [ ]:
# get number of rows without values
reg_df.shape[0] - reg_df.dropna().shape[0]

In [ ]:
# fill in missing values
reg_df = reg_df.interpolate()

In [ ]:
# Check again number of rows without values. Should be 0.
reg_df.shape[0] - reg_df.dropna().shape[0]

In [ ]:
# update series with new regularized dates and values
series = TimeSeries.from_dataframe(reg_df)

Save prepared timeseries data to local csv for model training

In [70]:
data_file_name = 'data/msft_data.csv'

In [ ]:
# series.to_csv(data_file_name)

Make sure data can load back into timeseries

In [ ]:
series = TimeSeries.from_csv(data_file_name, time_col='Date') #, freq='B')

In [ ]:
series

In [ ]:
# get regularized time series with NaN fill-ins
loaded_df = series.pd_dataframe()

In [ ]:
# get number of rows without values
loaded_df.shape[0] - loaded_df.dropna().shape[0]