In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
pip install -r requirements.txt

Requirement already satisfied: darts in /home/ivelin/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 1)) (0.27.1)
Requirement already satisfied: yfinance in /home/ivelin/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 2)) (0.2.33)
Requirement already satisfied: fmpsdk in /home/ivelin/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 3)) (20230623.0)
Requirement already satisfied: holidays>=0.11.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (0.39)
Requirement already satisfied: joblib>=0.16.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.2.0)
Requirement already satisfied: matplotlib>=3.3.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (3.7.2)
Requirement already satisfied: nfoursid>=1.0.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.0.1)
Requirement already satisfied: numpy>=1.19.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.24.3)
Requirement already satisfied: pmdarima>=1.8.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.0.4)
Requirement already satisfied: pyod>=0.9.5 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.1.2)
Requirement already satisfied: requests>=2.22.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.31.0)
Requirement already satisfied: scikit-learn>=1.0.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.3.0)
Requirement already satisfied: scipy>=1.3.2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.11.1)
Requirement already satisfied: shap>=0.40.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (0.44.0)
Requirement already satisfied: statsforecast>=1.4 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.7.0)
Requirement already satisfied: statsmodels>=0.14.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (0.14.0)
Requirement already satisfied: tbats>=1.1.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.1.3)
Requirement already satisfied: tqdm>=4.60.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (4.65.0)
Requirement already satisfied: typing-extensions in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (4.7.1)
Requirement already satisfied: xarray>=0.17.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2023.6.0)
Requirement already satisfied: xgboost>=1.6.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.0.3)
Requirement already satisfied: pytorch-lightning>=1.5.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.1.3)
Requirement already satisfied: tensorboardX>=2.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.6.2.2)
Requirement already satisfied: torch>=1.8.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.1.2)
Requirement already satisfied: pandas>=1.0.5 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.0.3)
Requirement already satisfied: multitasking>=0.0.7 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (2.3.10)
Requirement already satisfied: peewee>=3.16.2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (1.1)
Requirement already satisfied: python-dotenv in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fmpsdk->-r requirements.txt (line 3)) (0.21.0)
Requirement already satisfied: soupsieve>1.2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance->-r requirements.txt (line 2)) (2.4)
Requirement already satisfied: python-dateutil in /home/ivelin/.local/lib/python3.11/site-packages (from holidays>=0.11.1->darts->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: six>=1.9 in /home/ivelin/.local/lib/python3.11/site-packages (from html5lib>=1.1->yfinance->-r requirements.txt (line 2)) (1.16.0)
Requirement already satisfied: webencodings in /home/ivelin/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance->-r requirements.txt (line 2)) (0.5.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/ivelin/.local/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (3.0.9)
Requirement already satisfied: tzdata>=2022.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pandas>=1.0.5->darts->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pmdarima>=1.8.0->darts->-r requirements.txt (line 1)) (3.0.7)
Requirement already satisfied: urllib3 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pmdarima>=1.8.0->darts->-r requirements.txt (line 1)) (1.26.16)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pmdarima>=1.8.0->darts->-r requirements.txt (line 1)) (68.0.0)
Requirement already satisfied: numba>=0.51 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pyod>=0.9.5->darts->-r requirements.txt (line 1)) (0.57.1)
Requirement already satisfied: PyYAML>=5.4 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (6.0)
Requirement already satisfied: fsspec[http]>=2022.5.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (2023.4.0)
Requirement already satisfied: torchmetrics>=0.7.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (1.2.1)
Requirement already satisfied: lightning-utilities>=0.8.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (0.10.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from requests>=2.22.0->darts->-r requirements.txt (line 1)) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from requests>=2.22.0->darts->-r requirements.txt (line 1)) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from requests>=2.22.0->darts->-r requirements.txt (line 1)) (2023.7.22)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from scikit-learn>=1.0.1->darts->-r requirements.txt (line 1)) (2.2.0)
Requirement already satisfied: slicer==0.0.7 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from shap>=0.40.0->darts->-r requirements.txt (line 1)) (0.0.7)
Requirement already satisfied: cloudpickle in /home/ivelin/anaconda3/lib/python3.11/site-packages (from shap>=0.40.0->darts->-r requirements.txt (line 1)) (2.2.1)
Requirement already satisfied: fugue>=0.8.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from statsforecast>=1.4->darts->-r requirements.txt (line 1)) (0.8.7)
Requirement already satisfied: utilsforecast>=0.0.23 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from statsforecast>=1.4->darts->-r requirements.txt (line 1)) (0.0.23)
Requirement already satisfied: patsy>=0.5.2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from statsmodels>=0.14.0->darts->-r requirements.txt (line 1)) (0.5.3)
Requirement already satisfied: protobuf>=3.20 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from tensorboardX>=2.1->darts->-r requirements.txt (line 1)) (4.25.1)
Requirement already satisfied: filelock in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (3.9.0)
Requirement already satisfied: sympy in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (1.11.1)
Requirement already satisfied: networkx in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (3.1)
Requirement already satisfied: jinja2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (3.1.2)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.1.105 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.1.105)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.1.105 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.1.105)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.1.105 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.1.105)
Requirement already satisfied: nvidia-cudnn-cu12==8.9.2.26 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (8.9.2.26)
Requirement already satisfied: nvidia-cublas-cu12==12.1.3.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.1.3.1)
Requirement already satisfied: nvidia-cufft-cu12==11.0.2.54 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (11.0.2.54)
Requirement already satisfied: nvidia-curand-cu12==10.3.2.106 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (10.3.2.106)
Requirement already satisfied: nvidia-cusolver-cu12==11.4.5.107 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (11.4.5.107)
Requirement already satisfied: nvidia-cusparse-cu12==12.1.0.106 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.1.0.106)
Requirement already satisfied: nvidia-nccl-cu12==2.18.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (2.18.1)
Requirement already satisfied: nvidia-nvtx-cu12==12.1.105 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.1.105)
Requirement already satisfied: triton==2.1.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (2.1.0)
Requirement already satisfied: nvidia-nvjitlink-cu12 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from nvidia-cusolver-cu12==11.4.5.107->torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.3.101)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (3.8.5)
Requirement already satisfied: triad>=0.9.3 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (0.9.3)
Requirement already satisfied: adagio>=0.2.4 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (0.2.4)
Requirement already satisfied: qpd>=0.4.4 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (0.4.4)
Requirement already satisfied: fugue-sql-antlr>=0.1.6 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: sqlglot in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (20.5.0)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from numba>=0.51->pyod>=0.9.5->darts->-r requirements.txt (line 1)) (0.40.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from jinja2->torch>=1.8.0->darts->-r requirements.txt (line 1)) (2.1.1)
Requirement already satisfied: mpmath>=0.19 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from sympy->torch>=1.8.0->darts->-r requirements.txt (line 1)) (1.3.0)
Requirement already satisfied: attrs>=17.3.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (22.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (6.0.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (1.2.0)
Requirement already satisfied: antlr4-python3-runtime<4.12 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fugue-sql-antlr>=0.1.6->fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (4.11.1)
Requirement already satisfied: pyarrow>=6.0.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from triad>=0.9.3->fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (11.0.0)
Requirement already satisfied: fs in /home/ivelin/anaconda3/lib/python3.11/site-packages (from triad>=0.9.3->fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (2.4.16)
Note: you may need to restart the kernel to use updated packages.

Explore stock market dataset from Yahoo Finance

In [3]:
import yfinance as yf
import pandas as pd
from pathlib import Path

## Load list of IBD Growth Stocks

In [4]:
all_stocks_file = 'all_stocks.csv'

In [5]:
all_stock_set = set()
stock_files = [
    'IBD50.csv', 
    'IBD250.csv', 
    'IBD250_18Jan2024.csv', 
    'ibdlive_picks.csv', 
    'russell2000_iwm_holdings.csv', 
    'sp500_ivv_holdings.csv',
    'nasdaq100_cndx_holdings.csv',
    all_stocks_file
    ]
for f in stock_files:
    fp = f'data/{f}'
    if Path(fp).is_file():
        stocks = pd.read_csv(fp)
        print(f'loaded {len(stocks)} symbols from {fp}')
        stock_set = set(stocks['Symbol'])
        print(f'{len(stock_set)} symbols in stock set')
        all_stock_set |= stock_set
        print(f'total symbols loaded: {len(all_stock_set)}')
    else:
        print(f'{fp} not found.')

loaded 50 symbols from data/IBD50.csv
50 symbols in stock set
total symbols loaded: 50
loaded 300 symbols from data/IBD250.csv
300 symbols in stock set
total symbols loaded: 309
loaded 300 symbols from data/IBD250_18Jan2024.csv
300 symbols in stock set
total symbols loaded: 354
loaded 762 symbols from data/ibdlive_picks.csv
206 symbols in stock set
total symbols loaded: 408
loaded 1974 symbols from data/russell2000_iwm_holdings.csv
1971 symbols in stock set
total symbols loaded: 2260
loaded 509 symbols from data/sp500_ivv_holdings.csv
509 symbols in stock set
total symbols loaded: 2646
loaded 110 symbols from data/nasdaq100_cndx_holdings.csv
109 symbols in stock set
total symbols loaded: 2656
loaded 2656 symbols from data/all_stocks.csv
2656 symbols in stock set
total symbols loaded: 2656

In [6]:
len(all_stock_set), all_stock_set

(2656,
 {'BLX',
  'AAON',
  'MCS',
  'TPC',
  'ADNT',
  'CRAI',
  'RCKT',
  'FRT',
  'DOCN',
  'GKOS',
  'ALGT',
  'ATNM',
  'WSBF',
  'AIZ',
  'PECO',
  'KVUE',
  'PSTG',
  'IRWD',
  'VRE',
  'BLUE',
  'MCY',
  'ESRT',
  'VMD',
  'THRX',
  'SBT',
  'PZZA',
  'MSFUT',
  'BMI',
  'NWPX',
  'BIIB',
  'CNS',
  'PAR',
  'KTB',
  'TARS',
  'SABR',
  'LUV',
  'ORC',
  'MLI',
  'PKST',
  'GIS',
  'CMAX',
  'MBIN',
  'COOP',
  'NRC',
  'KLIC',
  'BKSY',
  'AADI',
  'ZYXI',
  'OMGA',
  'SMTC',
  'IMAX',
  'EVI',
  'KRYS',
  'BBCP',
  'EIX',
  'APD',
  'IPG',
  'ACDC',
  'ALRS',
  'SKY',
  'RICK',
  'VAXX',
  'ZBH',
  'RTX',
  'MCO',
  'OKE',
  'EAF',
  'PDM',
  'UCTT',
  'STEL',
  'OPEN',
  'ROP',
  'APPS',
  'IDXX',
  'RNAC',
  'FIS',
  'RGCO',
  'QTRX',
  'NEM',
  'NUVB',
  'PGRE',
  'PFMT',
  'ADP',
  'ERII',
  'GBP',
  'AFYA',
  'MVIS',
  'CYTK',
  'NOVA',
  'PM',
  'AHCO',
  'VOR',
  'BRZE',
  'NWE',
  'VREX',
  'CYBR',
  'WY',
  'LYV',
  'FBK',
  'CARM',
  'FMBH',
  'KAMN',
  'VMEO',
  'CPF',
  'XPEL',
  'ANNX',
  'BFS',
  'VRT',
  'VPG',
  'FRGE',
  'FET',
  'RPAY',
  'MACK',
  'BANF',
  'APPF',
  'UTZ',
  'PCH',
  'ELF',
  'WLDN',
  'FLR',
  'NVR',
  'WTW',
  'CERS',
  'WLLAW',
  'ENV',
  'MEDP',
  'LBPH',
  'LGND',
  'FHTX',
  'EFSC',
  'WK',
  'ADEA',
  'AKTS',
  'TOWN',
  'NWSA',
  'VRTS',
  'PTC',
  'SKT',
  'FROG',
  'RAMP',
  'YORW',
  'LCTX',
  'SBOW',
  'RYAAY',
  'SPTN',
  'SKWD',
  'CHRD',
  'NKTX',
  'DGICA',
  'RBB',
  'HOFT',
  'ROK',
  'NU',
  'RGR',
  'MODV',
  'SRCE',
  'RBCAA',
  'PLAY',
  'BKKT',
  'IOVA',
  'FBIN',
  'SDRL',
  'GEN',
  'KRT',
  'BKNG',
  'HD',
  'ALIT',
  'PKBK',
  'EXPI',
  'GRC',
  'SEMR',
  'DGII',
  'THFF',
  'EHAB',
  'HCA',
  'POR',
  'MBWM',
  'CMRE',
  'BLFS',
  'SMAR',
  'HMN',
  'PG',
  'LNN',
  'WISH',
  'NWBI',
  'HRT',
  'WING',
  'CSTL',
  'ENFN',
  'VEL',
  'SMTI',
  'EXPD',
  'MRVL',
  'CATO',
  'ASUR',
  'TMDX',
  'JAKK',
  'EHTH',
  'AMAT',
  'WRBY',
  'PGNY',
  'CCBG',
  'HURN',
  'DUK',
  'KTOS',
  'AMRK',
  'IESC',
  'CPT',
  'KRUS',
  'RPD',
  'ORRF',
  'CGEM',
  'BDC',
  'GERN',
  'FTV',
  'ARKO',
  'NET',
  'HELE',
  'ESMT',
  'JBHT',
  'PRAA',
  'SCVL',
  'ULTA',
  'EPAM',
  'HAFC',
  'APTV',
  'BATRK',
  'NVEE',
  'CELC',
  'TPX',
  'ACTG',
  'BPMC',
  'AXGN',
  'CSWI',
  'BHIL',
  'GTLB',
  'GEL',
  'NOTE',
  'NTAP',
  'EPAC',
  'ASND',
  'MUR',
  'MPWR',
  'MATW',
  'KODK',
  'PI',
  'MXL',
  'PPBI',
  'BCO',
  'CDRE',
  'GPMT',
  'NKSH',
  'INST',
  'SD',
  'CCO',
  'EMBC',
  'FBRT',
  'MNRO',
  'FLT',
  'LSEA',
  'ARCO',
  'SBCF',
  'SMMT',
  'ATRO',
  'WMK',
  'COLL',
  'CHEF',
  'ACIW',
  'ORA',
  'DBX',
  'FOLD',
  'PODD',
  'ATLO',
  'EYPT',
  'SSTK',
  'NOG',
  'GSAT',
  'RYI',
  'APA',
  'CARA',
  'STE',
  'APPN',
  'FICO',
  'SB',
  'SEAS',
  'GBTG',
  'GPI',
  'OMER',
  'ECL',
  'EMR',
  'TER',
  'MATV',
  'SKIN',
  'LASR',
  'NUE',
  'SIGI',
  'BRSP',
  'HLLY',
  'OPTN',
  'ELV',
  'GOOD',
  'AVO',
  'MEG',
  'HPQ',
  'KRO',
  'IBRX',
  'HUBG',
  'BGXX',
  'FATE',
  'SVV',
  'EDU',
  'RF',
  'TIPT',
  'WHR',
  'AMP',
  'NMRA',
  'PATH',
  'ZTS',
  'CANO',
  'RNST',
  'NJR',
  'ALE',
  'IDCC',
  'TRUP',
  'XFOR',
  'WBS',
  'SFM',
  'ELA',
  'MRSN',
  'RNGR',
  'MA',
  'TUSK',
  'OUT',
  'KROS',
  'SBH',
  'BIRD',
  'CZR',
  'POOL',
  'XOM',
  'NTNX',
  'SWX',
  'CMG',
  'CRBG',
  'SGAFT',
  'HTBI',
  'WS',
  'JJSF',
  'MED',
  'CRGY',
  'OTLK',
  'RIOT',
  'HBCP',
  'MTSI',
  'PIII',
  'CVLY',
  'STLD',
  'NQH4',
  'EGRX',
  'HASI',
  'WULF',
  'NFLX',
  'BK',
  'KD',
  'FANG',
  'VTS',
  'MGPI',
  'TREE',
  'DC',
  'FTCI',
  'TDW',
  'BIRK',
  'AVA',
  'BDN',
  'NAVI',
  'CDP',
  'PLYM',
  'ZNTL',
  'CCJ',
  'REI',
  'ONL',
  'AROC',
  'NWN',
  'BWMN',
  'FIVN',
  'PRDO',
  'STT',
  'ALVR',
  'LEN',
  'ZIMV',
  'TAST',
  'ARDX',
  'BOX',
  'AFL',
  'ALDX',
  'ABVX',
  'DYN',
  'GMS',
  'CCRN',
  'ROCK',
  'NBHC',
  'AOS',
  'CBNK',
  'NXPI',
  'GHC',
  'ZBRA',
  'KN',
  'FOXA',
  'FORR',
  'PCAR',
  'MEI',
  'MU',
  'CMS',
  'FBNC',
  'HTH',
  'DBRG',
  'WIRE',
  'FNF',
  'PETS',
  'TGH',
  'SCWO',
  'HQI',
  'SXI',
  'APP',
  'D',
  'BX',
  'EGLE',
  'PBI',
  'CUTR',
  'BPRN',
  'ALG',
  'SUPN',
  'EOG',
  'PUMP',
  'PRMW',
  'RELX',
  'CLPT',
  'AEE',
  'AKAM',
  'DHI',
  'KVHI',
  'MRNS',
  'CRSR',
  'PBPB',
  'BMY',
  'PLL',
  'OLP',
  'SM',
  'HNI',
  'BLMN',
  'MC',
  'HCSG',
  'UUUU',
  'CLSK',
  'UFCS',
  'AAL',
  'STLA',
  'MIRM',
  'HPK',
  'GDOT',
  'NX',
  'FFIV',
  'AGEN',
  'HLIO',
  'TTEC',
  'PGTI',
  'GILD',
  'PNC',
  'CASS',
  'HWC',
  'MSCI',
  'ATI',
  'ANIK',
  'TSQ',
  'ALTG',
  'JRVR',
  'SPGI',
  'OEC',
  'MWA',
  'CRK',
  'MHO',
  'WPM',
  'CINF',
  'VNDA',
  'INSE',
  'SAFE',
  'PFG',
  'DTE',
  'PTEN',
  'REFI',
  'CAH',
  'NVGS',
  'REPL',
  'LRN',
  'PGC',
  'CPB',
  'PEG',
  'OFG',
  'CRCT',
  'FOSL',
  'WST',
  'STBA',
  'GFS',
  'CBAY',
  'HPE',
  'CCSI',
  'FWRG',
  'VECO',
  'FLWS',
  'LXU',
  'MYRG',
  'SPFI',
  'TBBK',
  'CME',
  'CNTY',
  'TWKS',
  'ROIC',
  'SST',
  'CRL',
  'FDS',
  'SNPO',
  'HQY',
  'INCY',
  'VMC',
  'ATNI',
  'TWO',
  'VRSK',
  'OCUL',
  'MAXN',
  'SMCI',
  'FCFS',
  'PINS',
  'AOSL',
  'GPC',
  'IPAR',
  'HRMY',
  'APG',
  'BORR',
  'NTCT',
  'WWW',
  'SMBC',
  'RGNX',
  'MTD',
  'TITN',
  'IMKTA',
  'EPRT',
  'OPCH',
  'TWI',
  'BEAM',
  'INZY',
  'CCS',
  'ADSK',
  'CMI',
  'PRPL',
  'ALLE',
  'MAIN',
  'AVNW',
  'CRBU',
  'MCBC',
  'OB',
  'DIS',
  'SMHI',
  'PNW',
  'KZR',
  'XRX',
  'DAL',
  'ALL',
  'HAS',
  'IRON',
  'LXRX',
  'CTOS',
  'VRRM',
  'AMRC',
  'CALM',
  'GBCI',
  'MRO',
  'NARI',
  'CI',
  'EGHT',
  'ENSG',
  'ACGL',
  'TG',
  'MGY',
  'STC',
  'PFSI',
  'ULH',
  'AMCX',
  'NL',
  'MYGN',
  'EL',
  'XOMA',
  'STR',
  'MOD',
  'ACIC',
  'CDMO',
  'CVGI',
  'GPRO',
  'PDCO',
  'GEVO',
  'LPG',
  'MD',
  'AWR',
  'TMHC',
  'INBX',
  'DKS',
  'VUZI',
  'FCBC',
  'PL',
  'LMT',
  'FAST',
  'CRC',
  'KE',
  'COP',
  'WBD',
  'PCYO',
  'SAVE',
  'CATC',
  'HUM',
  'SJW',
  'DT',
  'SWBI',
  'GRBK',
  'BCBP',
  'CTLP',
  'RVTY',
  'TRST',
  'PD',
  'HSHP',
  'HAE',
  'WW',
  'IRM',
  'WAT',
  'CABA',
  'ABUS',
  'KIDS',
  'YEXT',
  'NATR',
  'BROS',
  'FC',
  'OCN',
  'OABI',
  'NBN',
  'TTSH',
  'JACK',
  'INOD',
  'TGAN',
  'WTTR',
  'AEO',
  'ARI',
  'CWK',
  'RAIN',
  'PAYO',
  'SIRI',
  'MSGE',
  'LBAI',
  'MTX',
  'AI',
  'NWFL',
  'CXW',
  'QLYS',
  'LOCO',
  'VRTX',
  'TROX',
  'LGFB',
  'XERS',
  'AMSWA',
  'EW',
  'ADPT',
  'CVLT',
  'CMA',
  'RVNC',
  'UVE',
  'OLO',
  'SLVM',
  'CARS',
  'UPST',
  'CVRX',
  'FARO',
  'TRMK',
  'KOS',
  'PAYC',
  'APAM',
  'SRRK',
  'UDMY',
  'ITOS',
  'DASH',
  'TRNO',
  'GRPH',
  'CFFN',
  'ENR',
  'CSCO',
  'LMAT',
  'ASC',
  'MDT',
  'HTLF',
  'BRO',
  'WOR',
  'NIC',
  'CDAY',
  'AEVA',
  'CCL',
  'VKTX',
  'WMT',
  'DOUG',
  'GORV',
  'BFC',
  'PLUS',
  'XPOF',
  'SDGR',
  'BKD',
  'AUR',
  'T',
  'GOOGL',
  'SES',
  'FIBK',
  'NSTG',
  'SCSC',
  'LEGH',
  'VSTO',
  'WSFS',
  'CIM',
  'TFC',
  'ARVN',
  'DECK',
  'EOLS',
  'LNW',
  'SR',
  'ASIX',
  'CENTA',
  'LUNA',
  'TTMI',
  'CHRW',
  'IRT',
  'QNST',
  'NTRS',
  'IKNA',
  'MTW',
  'PARR',
  'SGHC',
  'TFIN',
  'NTGR',
  'NPK',
  'OIS',
  'NBR',
  'RDW',
  'CENT',
  'SNA',
  'TTD',
  'TNGX',
  'PGEN',
  'BKE',
  'BHB',
  'MMM',
  'MDGL',
  'CBRE',
  'CRH',
  'MSBI',
  'TMUS',
  'GOCO',
  'XEL',
  'EWBC',
  'BWB',
  'CTKB',
  'V',
  'XRAY',
  'DNMR',
  'BTMD',
  'ZION',
  'GEF',
  'KBH',
  'AVIR',
  'PRFT',
  'BGC',
  'CWCO',
  'RWT',
  'ROL',
  'AFRI',
  'BCOV',
  'VIR',
  'DRS',
  'TBI',
  'PVH',
  'UHT',
  'CSWC',
  'FNLC',
  'SCLX',
  'MODG',
  'EA',
  'AEL',
  'DOC',
  'INNV',
  'RL',
  'WEAV',
  'NVRO',
  'RGP',
  'ESE',
  'HCC',
  'RSI',
  'CSTR',
  'PTLO',
  'METC',
  'SLG',
  'KFS',
  'MCB',
  'STEM',
  'HUBB',
  'DCO',
  'SOVO',
  'WM',
  'IHRT',
  'QIPT',
  'ALPN',
  'EQR',
  'JBT',
  'CELH',
  'HON',
  'CASH',
  'TCBK',
  'TRC',
  'SLB',
  'ASTE',
  'SHYF',
  'NMRK',
  'SHCR',
  'BAND',
  'BDX',
  'ABBV',
  'NFBK',
  'RDUS',
  'PNR',
  'PATK',
  'WSM',
  'DMRC',
  'AHH',
  'SITC',
  'SMLR',
  'COGT',
  'DY',
  'HSII',
  'WASH',
  'MBUU',
  'AAPL',
  'FENC',
  'CNNE',
  'ALHC',
  'IHG',
  'FCEL',
  'ACAD',
  'IBOC',
  'AJG',
  'ADUS',
  'AMT',
  'SRDX',
  'MGNX',
  'CORT',
  'PEPG',
  'OTEX',
  'VALU',
  'AIR',
  'CZNC',
  'GNL',
  'LPTV',
  'MGM',
  'EXFY',
  'HSY',
  'HPP',
  'INDI',
  'ADBE',
  'METCB',
  'DAN',
  'UBER',
  'FELE',
  'EBC',
  'DNUT',
  'RACE',
  'OSG',
  'ACN',
  'OVLY',
  'LANC',
  'O',
  'EOSE',
  'JKHY',
  'MNKD',
  'PGR',
  'MURA',
  'GWW',
  'CTS',
  'FUBO',
  'BBSI',
  'VRNT',
  'STAA',
  'LXP',
  'FIP',
  'CTAS',
  'MTCH',
  'PLCE',
  'ROG',
  'STX',
  'FRBA',
  'DOMO',
  'BALY',
  'FWRD',
  'KNTK',
  'HALO',
  'FBIZ',
  'ENTA',
  'TLYS',
  'IVR',
  'ISRG',
  'WALD',
  'TTI',
  'PPL',
  'ANAB',
  'TK',
  'DM',
  'DFH',
  'SFNC',
  'FLL',
  'LIVN',
  'INVA',
  'OTTR',
  'IRTC',
  'GL',
  'CEVA',
  'SGMO',
  'CNO',
  'INMD',
  'MOGA',
  'MRC',
  'CWT',
  'PRCT',
  'CDE',
  'LVS',
  'EXPE',
  'ACRE',
  'PRLD',
  'FIZZ',
  'MLM',
  'BLD',
  'GLT',
  'DPZ',
  'ABBNY',
  'QSI',
  'NYT',
  'APLD',
  'AXSM',
  'KHC',
  'DO',
  'MELI',
  'PMVP',
  'CNP',
  'UONE',
  'USNA',
  'RXST',
  'ACA',
  'RMAX',
  'ASLE',
  'ETWO',
  'VERA',
  'AIG',
  'PARA',
  'ITT',
  'KIM',
  'ADM',
  'NXT',
  'IMXI',
  'ONTO',
  'FLIC',
  'ASGN',
  'VTNR',
  'AORT',
  'AKYA',
  'VERI',
  'STRL',
  'MGEE',
  'COF',
  'RSG',
  'SRI',
  'GE',
  'NRDS',
  'ETSY',
  'BHE',
  'CUBI',
  'VLO',
  'TCX',
  'CAKE',
  'GIII',
  'SWIM',
  'UMH',
  'RCUS',
  'NHC',
  'WEYS',
  'AGYS',
  'SP',
  'CTVA',
  'FMX',
  'ZIP',
  'S',
  'TXT',
  'INFA',
  'ARAY',
  ...})

In [7]:
stocks_ticker_set = all_stock_set

In [8]:
growth_stocks_df = pd.DataFrame()
growth_stocks_df['Symbol'] = list(stocks_ticker_set)
growth_stocks_df = growth_stocks_df.set_index(['Symbol'])
growth_stocks_df.index = growth_stocks_df.index.drop_duplicates()
# drop known junk symbols from the data feed
junk = ['MSFUT', 'GEFB', 'METCV', 'SGAFT', 'NQH4', 'XTSLA', '-', 'PDLI', 'ADRO', 'ICSUAGD', 'BFB', 'GTXI', 'P5N994', 'LGFB', 'MLIFT', 'ESH4', 'LGFA', 'MOGA', 'PBRA', 'BRKB', 'RTYH4', '\xa0', 'CRDA']
growth_stocks_df.index = growth_stocks_df.index.drop(junk)
growth_stocks_df

Empty DataFrame
Columns: []
Index: [BLX, AAON, MCS, TPC, ADNT, CRAI, RCKT, FRT, DOCN, GKOS, ALGT, ATNM, WSBF, AIZ, PECO, KVUE, PSTG, IRWD, VRE, BLUE, MCY, ESRT, VMD, THRX, SBT, PZZA, MSFUT, BMI, NWPX, BIIB, CNS, PAR, KTB, TARS, SABR, LUV, ORC, MLI, PKST, GIS, CMAX, MBIN, COOP, NRC, KLIC, BKSY, AADI, ZYXI, OMGA, SMTC, IMAX, EVI, KRYS, BBCP, EIX, APD, IPG, ACDC, ALRS, SKY, RICK, VAXX, ZBH, RTX, MCO, OKE, EAF, PDM, UCTT, STEL, OPEN, ROP, APPS, IDXX, RNAC, FIS, RGCO, QTRX, NEM, NUVB, PGRE, PFMT, ADP, ERII, GBP, AFYA, MVIS, CYTK, NOVA, PM, AHCO, VOR, BRZE, NWE, VREX, CYBR, WY, LYV, FBK, CARM, ...]

[2656 rows x 0 columns]

In [9]:
growth_stocks_df.to_csv(f'data/{all_stocks_file}')

## Prepare broad market indicies

In [ ]:
# Capture S&P500, NASDAQ100 and Russell 200 indecies and their equal weighted counter parts
# As well as VIX volatility index, DYX US Dollar index, TNX US 12 Weeks Treasury Yield, 5 Years Treasury Yield and 10 Year Treasuries Yield
broad_market_indicies = '^SPX ^SPXEW ^NDX ^NDXE ^RUT ^R2ESC ^VIX DX-Y.NYB ^IRX ^FVX ^TNX'

In [ ]:
broad_market = yf.download(broad_market_indicies, period='max', group_by='tickers') 
broad_market

In [ ]:
broad_market.to_csv('data/broad_market.csv.bz2', index='Date')

## Prepare Sector Indicies

In [ ]:
sector_indicies = 'XLE ^SP500-15 ^SP500-20 ^SP500-25 ^SP500-30 ^SP500-35 ^SP500-40 ^SP500-45 ^SP500-50 ^SP500-55 ^SP500-60'

In [ ]:
sectors = yf.download(sector_indicies, period='max') 
sectors

In [ ]:
sectors.to_csv('data/sectors.csv.bz2')

## Prepare stocks price data

In [10]:
price_interval = "1d" # "1wk"

In [11]:
stock_price_data = yf.download(all_stock_set, period='max', group_by='tickers', interval=price_interval) 
stock_price_data

[**********************49%%                      ]  1305 of 2656 completed

Failed to get ticker 'THE CONTENT CONTAINED HEREIN IS OWNED OR LICENSED BY BLACKROCK AND/OR ITS THIRD-PARTY INFORMATION PROVIDERS AND IS PROTECTED BY APPLICABLE COPYRIGHTS, TRADEMARKS, SERVICE MARKS, AND/OR OTHER INTELLECTUAL PROPERTY RIGHTS. SUCH CONTENT IS SOLELY FOR YOUR PERSONAL, NON-COMMERCIAL USE. ACCORDINGLY, YOU MAY NOT COPY, DISTRIBUTE, MODIFY, POST, FRAME OR DEEP LINK THIS CONTENT. YOU MAY DOWNLOAD MATERIAL DISPLAYED ON THIS WEBSITE FOR YOUR PERSONAL USE PROVIDED YOU ALSO RETAIN ALL COPYRIGHT AND OTHER PROPRIETARY NOTICES CONTAINED ON THE MATERIALS. MODIFICATION OR USE OF THE MATERIALS FOR ANY OTHER PURPOSE VIOLATES BLACKROCK'S INTELLECTUAL PROPERTY RIGHTS.
HOLDINGS SUBJECT TO CHANGE. SEE WWW.ISHARES.COM FOR THE MOST RECENT FUNDS HOLDINGS.
THE VALUES FOR “PRICE” SHOWN HEREIN GENERALLY REPRESENT A PRICE PROVIDED BY A THIRD-PARTY PRICING VENDOR FOR THE PORTFOLIO HOLDING AND DO NOT REFLECT THE IMPACT OF SYSTEMATIC FAIR VALUATION (“THE VENDOR PRICE”). THE VENDOR PRICE IS NOT NECESSARILY THE PRICE AT WHICH THE FUND VALUES THE PORTFOLIO HOLDING FOR THE PURPOSES OF DETERMINING ITS NET ASSET VALUE (THE “VALUATION PRICE”). ADDITIONALLY, WHERE APPLICABLE, FOREIGN CURRENCY EXCHANGE RATES WITH RESPECT TO THE PORTFOLIO HOLDINGS DENOMINATED IN NON-U.S. CURRENCIES FOR THE VALUATION PRICE WILL BE GENERALLY DETERMINED AS OF THE CLOSE OF BUSINESS ON THE NEW YORK STOCK EXCHANGE, WHEREAS FOR THE VENDOR PRICE WILL BE GENERALLY DETERMINED AS OF 4 P.M. LONDON. THE VALUES SHOWN HEREIN FOR “MARKET VALUE,” “WEIGHT,” AND “NOTIONAL VALUE” (THE “CALCULATED VALUES”) ARE BASED OFF OF THE VENDOR PRICE AND MAY HAVE BEEN DIFFERENT IF THE VALUATION PRICE WERE TO HAVE BEEN USED TO CALCULATE SUCH VALUES. THE VENDOR PRICE IS AS OF THE MOST RECENT PRACTICABLE DATE AND MAY NOT NECESSARILY BE AS OF THE DATE SHOWN ABOVE.
PLEASE SEE THE “DETERMINATION OF NET ASSET VALUE” SECTION OF EACH FUND’S PROSPECTUS FOR ADDITIONAL INFORMATION ON THE FUND’S VALUATION POLICIES AND PROCEDURES.
CAREFULLY CONSIDER THE FUNDS' INVESTMENT OBJECTIVES, RISK FACTORS, AND CHARGES AND EXPENSES BEFORE INVESTING. THIS AND OTHER INFORMATION CAN BE FOUND IN THE FUNDS' PROSPECTUSES OR, IF AVAILABLE, THE SUMMARY PROSPECTUSES WHICH MAY BE OBTAINED BY VISITING WWW.ISHARES.COM OR WWW.BLACKROCK.COM. READ THE PROSPECTUS CAREFULLY BEFORE INVESTING. INVESTING INVOLVES RISK, INCLUDING POSSIBLE LOSS OF PRINCIPAL.
THIS INFORMATION SHOULD NOT BE RELIED UPON AS RESEARCH, INVESTMENT ADVICE, OR A RECOMMENDATION REGARDING ANY PRODUCTS, STRATEGIES, OR ANY SECURITY IN PARTICULAR.
THIS MATERIAL IS STRICTLY FOR ILLUSTRATIVE, EDUCATIONAL, OR INFORMATIONAL PURPOSES AND IS SUBJECT TO CHANGE.
THE FUNDS ARE DISTRIBUTED BY BLACKROCK INVESTMENTS, LLC (TOGETHER WITH ITS AFFILIATES, “BLACKROCK”).
THE ISHARES FUNDS ARE NOT SPONSORED, ENDORSED, ISSUED, SOLD OR PROMOTED BY BLOOMBERG, BLACKROCK INDEX SERVICES, LLC, CBOE GLOBAL INDICES, LLC, COHEN & STEERS, EUROPEAN PUBLIC REAL ESTATE ASSOCIATION (“EPRA® ”), FTSE INTERNATIONAL LIMITED (“FTSE”), ICE DATA INDICES, LLC, NSE INDICES LTD, JPMORGAN, JPX GROUP, LONDON STOCK EXCHANGE GROUP (“LSEG”), MSCI INC., MARKIT INDICES LIMITED, MORNINGSTAR, INC., NASDAQ, INC., NATIONAL ASSOCIATION OF REAL ESTATE INVESTMENT TRUSTS (“NAREIT”), NIKKEI, INC., RUSSELL, S&P DOW JONES INDICES LLC OR STOXX LTD. NONE OF THESE COMPANIES MAKE ANY REPRESENTATION REGARDING THE ADVISABILITY OF INVESTING IN THE FUNDS. WITH THE EXCEPTION OF BLACKROCK INDEX SERVICES, LLC, WHO IS AN AFFILIATE, BLACKROCK INVESTMENTS, LLC IS NOT AFFILIATED WITH THE COMPANIES LISTED ABOVE. NEITHER FTSE, LSEG, NOR NAREIT MAKES ANY WARRANTY REGARDING THE FTSE NAREIT EQUITY REITS INDEX, FTSE NAREIT ALL RESIDENTIAL CAPPED INDEX OR FTSE NAREIT ALL MORTGAGE CAPPED INDEX. NEITHER FTSE, EPRA, LSEG, NOR NAREIT MAKES ANY WARRANTY REGARDING THE FTSE EPRA NAREIT DEVELOPED EX-U.S. INDEX, FTSE EPRA NAREIT DEVELOPED GREEN TARGET INDEX OR FTSE EPRA NAREIT GLOBAL REITS INDEX. “FTSE®” IS A TRADEMARK OF LONDON STOCK EXCHANGE GROUP COMPANIES AND IS USED BY FTSE UNDER LICENSE.
©2023 BLACKROCK, INC OR ITS AFFILIATES. ALL RIGHTS RESERVED. ISHARES, IBONDS AND BLACKROCK ARE TRADEMARKS OF BLACKROCK, INC. OR ITS AFFILIATES. ALL OTHER TRADEMARKS ARE THOSE OF THEIR RESPECTIVE OWNERS.
ICRMH0323U/S-2742939' reason: Expecting value: line 1 column 1 (char 0)

[*********************100%%**********************]  2656 of 2656 completed

24 Failed downloads:
['MSFUT', 'GEFB', 'METCV', 'SGAFT', 'NQH4', 'XTSLA', '-', 'PDLI', 'ADRO', 'ICSUAGD', 'BFB', 'GTXI', 'P5N994', 'LGFB', 'MLIFT', 'ESH4', 'LGFA', 'MOGA', 'PBRA', 'BRKB', 'RTYH4']: Exception('%ticker%: No timezone found, symbol may be delisted')
['\xa0']: Exception('\xa0: No timezone found, symbol may be delisted')
["THE CONTENT CONTAINED HEREIN IS OWNED OR LICENSED BY BLACKROCK AND/OR ITS THIRD-PARTY INFORMATION PROVIDERS AND IS PROTECTED BY APPLICABLE COPYRIGHTS, TRADEMARKS, SERVICE MARKS, AND/OR OTHER INTELLECTUAL PROPERTY RIGHTS. SUCH CONTENT IS SOLELY FOR YOUR PERSONAL, NON-COMMERCIAL USE. ACCORDINGLY, YOU MAY NOT COPY, DISTRIBUTE, MODIFY, POST, FRAME OR DEEP LINK THIS CONTENT. YOU MAY DOWNLOAD MATERIAL DISPLAYED ON THIS WEBSITE FOR YOUR PERSONAL USE PROVIDED YOU ALSO RETAIN ALL COPYRIGHT AND OTHER PROPRIETARY NOTICES CONTAINED ON THE MATERIALS. MODIFICATION OR USE OF THE MATERIALS FOR ANY OTHER PURPOSE VIOLATES BLACKROCK'S INTELLECTUAL PROPERTY RIGHTS.\nHOLDINGS SUBJECT TO CHANGE. SEE WWW.ISHARES.COM FOR THE MOST RECENT FUNDS HOLDINGS.\nTHE VALUES FOR “PRICE” SHOWN HEREIN GENERALLY REPRESENT A PRICE PROVIDED BY A THIRD-PARTY PRICING VENDOR FOR THE PORTFOLIO HOLDING AND DO NOT REFLECT THE IMPACT OF SYSTEMATIC FAIR VALUATION (“THE VENDOR PRICE”). THE VENDOR PRICE IS NOT NECESSARILY THE PRICE AT WHICH THE FUND VALUES THE PORTFOLIO HOLDING FOR THE PURPOSES OF DETERMINING ITS NET ASSET VALUE (THE “VALUATION PRICE”). ADDITIONALLY, WHERE APPLICABLE, FOREIGN CURRENCY EXCHANGE RATES WITH RESPECT TO THE PORTFOLIO HOLDINGS DENOMINATED IN NON-U.S. CURRENCIES FOR THE VALUATION PRICE WILL BE GENERALLY DETERMINED AS OF THE CLOSE OF BUSINESS ON THE NEW YORK STOCK EXCHANGE, WHEREAS FOR THE VENDOR PRICE WILL BE GENERALLY DETERMINED AS OF 4 P.M. LONDON. THE VALUES SHOWN HEREIN FOR “MARKET VALUE,” “WEIGHT,” AND “NOTIONAL VALUE” (THE “CALCULATED VALUES”) ARE BASED OFF OF THE VENDOR PRICE AND MAY HAVE BEEN DIFFERENT IF THE VALUATION PRICE WERE TO HAVE BEEN USED TO CALCULATE SUCH VALUES. THE VENDOR PRICE IS AS OF THE MOST RECENT PRACTICABLE DATE AND MAY NOT NECESSARILY BE AS OF THE DATE SHOWN ABOVE.\nPLEASE SEE THE “DETERMINATION OF NET ASSET VALUE” SECTION OF EACH FUND’S PROSPECTUS FOR ADDITIONAL INFORMATION ON THE FUND’S VALUATION POLICIES AND PROCEDURES.\nCAREFULLY CONSIDER THE FUNDS' INVESTMENT OBJECTIVES, RISK FACTORS, AND CHARGES AND EXPENSES BEFORE INVESTING. THIS AND OTHER INFORMATION CAN BE FOUND IN THE FUNDS' PROSPECTUSES OR, IF AVAILABLE, THE SUMMARY PROSPECTUSES WHICH MAY BE OBTAINED BY VISITING WWW.ISHARES.COM OR WWW.BLACKROCK.COM. READ THE PROSPECTUS CAREFULLY BEFORE INVESTING. INVESTING INVOLVES RISK, INCLUDING POSSIBLE LOSS OF PRINCIPAL.\nTHIS INFORMATION SHOULD NOT BE RELIED UPON AS RESEARCH, INVESTMENT ADVICE, OR A RECOMMENDATION REGARDING ANY PRODUCTS, STRATEGIES, OR ANY SECURITY IN PARTICULAR.\nTHIS MATERIAL IS STRICTLY FOR ILLUSTRATIVE, EDUCATIONAL, OR INFORMATIONAL PURPOSES AND IS SUBJECT TO CHANGE.\nTHE FUNDS ARE DISTRIBUTED BY BLACKROCK INVESTMENTS, LLC (TOGETHER WITH ITS AFFILIATES, “BLACKROCK”).\nTHE ISHARES FUNDS ARE NOT SPONSORED, ENDORSED, ISSUED, SOLD OR PROMOTED BY BLOOMBERG, BLACKROCK INDEX SERVICES, LLC, CBOE GLOBAL INDICES, LLC, COHEN & STEERS, EUROPEAN PUBLIC REAL ESTATE ASSOCIATION (“EPRA® ”), FTSE INTERNATIONAL LIMITED (“FTSE”), ICE DATA INDICES, LLC, NSE INDICES LTD, JPMORGAN, JPX GROUP, LONDON STOCK EXCHANGE GROUP (“LSEG”), MSCI INC., MARKIT INDICES LIMITED, MORNINGSTAR, INC., NASDAQ, INC., NATIONAL ASSOCIATION OF REAL ESTATE INVESTMENT TRUSTS (“NAREIT”), NIKKEI, INC., RUSSELL, S&P DOW JONES INDICES LLC OR STOXX LTD. NONE OF THESE COMPANIES MAKE ANY REPRESENTATION REGARDING THE ADVISABILITY OF INVESTING IN THE FUNDS. WITH THE EXCEPTION OF BLACKROCK INDEX SERVICES, LLC, WHO IS AN AFFILIATE, BLACKROCK INVESTMENTS, LLC IS NOT AFFILIATED WITH THE COMPANIES LISTED ABOVE. NEITHER FTSE, LSEG, NOR NAREIT MAKES ANY WARRANTY REGARDING THE FTSE NAREIT EQUITY REITS INDEX, FTSE NAREIT ALL RESIDENTIAL CAPPED INDEX OR FTSE NAREIT ALL MORTGAGE CAPPED INDEX. NEITHER FTSE, EPRA, LSEG, NOR NAREIT MAKES ANY WARRANTY REGARDING THE FTSE EPRA NAREIT DEVELOPED EX-U.S. INDEX, FTSE EPRA NAREIT DEVELOPED GREEN TARGET INDEX OR FTSE EPRA NAREIT GLOBAL REITS INDEX. “FTSE®” IS A TRADEMARK OF LONDON STOCK EXCHANGE GROUP COMPANIES AND IS USED BY FTSE UNDER LICENSE.\n©2023 BLACKROCK, INC OR ITS AFFILIATES. ALL RIGHTS RESERVED. ISHARES, IBONDS AND BLACKROCK ARE TRADEMARKS OF BLACKROCK, INC. OR ITS AFFILIATES. ALL OTHER TRADEMARKS ARE THOSE OF THEIR RESPECTIVE OWNERS.\nICRMH0323U/S-2742939"]: Exception("THE CONTENT CONTAINED HEREIN IS OWNED OR LICENSED BY BLACKROCK AND/OR ITS THIRD-PARTY INFORMATION PROVIDERS AND IS PROTECTED BY APPLICABLE COPYRIGHTS, TRADEMARKS, SERVICE MARKS, AND/OR OTHER INTELLECTUAL PROPERTY RIGHTS. SUCH CONTENT IS SOLELY FOR YOUR PERSONAL, NON-COMMERCIAL USE. ACCORDINGLY, YOU MAY NOT COPY, DISTRIBUTE, MODIFY, POST, FRAME OR DEEP LINK THIS CONTENT. YOU MAY DOWNLOAD MATERIAL DISPLAYED ON THIS WEBSITE FOR YOUR PERSONAL USE PROVIDED YOU ALSO RETAIN ALL COPYRIGHT AND OTHER PROPRIETARY NOTICES CONTAINED ON THE MATERIALS. MODIFICATION OR USE OF THE MATERIALS FOR ANY OTHER PURPOSE VIOLATES BLACKROCK'S INTELLECTUAL PROPERTY RIGHTS.\nHOLDINGS SUBJECT TO CHANGE. SEE WWW.ISHARES.COM FOR THE MOST RECENT FUNDS HOLDINGS.\nTHE VALUES FOR “PRICE” SHOWN HEREIN GENERALLY REPRESENT A PRICE PROVIDED BY A THIRD-PARTY PRICING VENDOR FOR THE PORTFOLIO HOLDING AND DO NOT REFLECT THE IMPACT OF SYSTEMATIC FAIR VALUATION (“THE VENDOR PRICE”). THE VENDOR PRICE IS NOT NECESSARILY THE PRICE AT WHICH THE FUND VALUES THE PORTFOLIO HOLDING FOR THE PURPOSES OF DETERMINING ITS NET ASSET VALUE (THE “VALUATION PRICE”). ADDITIONALLY, WHERE APPLICABLE, FOREIGN CURRENCY EXCHANGE RATES WITH RESPECT TO THE PORTFOLIO HOLDINGS DENOMINATED IN NON-U.S. CURRENCIES FOR THE VALUATION PRICE WILL BE GENERALLY DETERMINED AS OF THE CLOSE OF BUSINESS ON THE NEW YORK STOCK EXCHANGE, WHEREAS FOR THE VENDOR PRICE WILL BE GENERALLY DETERMINED AS OF 4 P.M. LONDON. THE VALUES SHOWN HEREIN FOR “MARKET VALUE,” “WEIGHT,” AND “NOTIONAL VALUE” (THE “CALCULATED VALUES”) ARE BASED OFF OF THE VENDOR PRICE AND MAY HAVE BEEN DIFFERENT IF THE VALUATION PRICE WERE TO HAVE BEEN USED TO CALCULATE SUCH VALUES. THE VENDOR PRICE IS AS OF THE MOST RECENT PRACTICABLE DATE AND MAY NOT NECESSARILY BE AS OF THE DATE SHOWN ABOVE.\nPLEASE SEE THE “DETERMINATION OF NET ASSET VALUE” SECTION OF EACH FUND’S PROSPECTUS FOR ADDITIONAL INFORMATION ON THE FUND’S VALUATION POLICIES AND PROCEDURES.\nCAREFULLY CONSIDER THE FUNDS' INVESTMENT OBJECTIVES, RISK FACTORS, AND CHARGES AND EXPENSES BEFORE INVESTING. THIS AND OTHER INFORMATION CAN BE FOUND IN THE FUNDS' PROSPECTUSES OR, IF AVAILABLE, THE SUMMARY PROSPECTUSES WHICH MAY BE OBTAINED BY VISITING WWW.ISHARES.COM OR WWW.BLACKROCK.COM. READ THE PROSPECTUS CAREFULLY BEFORE INVESTING. INVESTING INVOLVES RISK, INCLUDING POSSIBLE LOSS OF PRINCIPAL.\nTHIS INFORMATION SHOULD NOT BE RELIED UPON AS RESEARCH, INVESTMENT ADVICE, OR A RECOMMENDATION REGARDING ANY PRODUCTS, STRATEGIES, OR ANY SECURITY IN PARTICULAR.\nTHIS MATERIAL IS STRICTLY FOR ILLUSTRATIVE, EDUCATIONAL, OR INFORMATIONAL PURPOSES AND IS SUBJECT TO CHANGE.\nTHE FUNDS ARE DISTRIBUTED BY BLACKROCK INVESTMENTS, LLC (TOGETHER WITH ITS AFFILIATES, “BLACKROCK”).\nTHE ISHARES FUNDS ARE NOT SPONSORED, ENDORSED, ISSUED, SOLD OR PROMOTED BY BLOOMBERG, BLACKROCK INDEX SERVICES, LLC, CBOE GLOBAL INDICES, LLC, COHEN & STEERS, EUROPEAN PUBLIC REAL ESTATE ASSOCIATION (“EPRA® ”), FTSE INTERNATIONAL LIMITED (“FTSE”), ICE DATA INDICES, LLC, NSE INDICES LTD, JPMORGAN, JPX GROUP, LONDON STOCK EXCHANGE GROUP (“LSEG”), MSCI INC., MARKIT INDICES LIMITED, MORNINGSTAR, INC., NASDAQ, INC., NATIONAL ASSOCIATION OF REAL ESTATE INVESTMENT TRUSTS (“NAREIT”), NIKKEI, INC., RUSSELL, S&P DOW JONES INDICES LLC OR STOXX LTD. NONE OF THESE COMPANIES MAKE ANY REPRESENTATION REGARDING THE ADVISABILITY OF INVESTING IN THE FUNDS. WITH THE EXCEPTION OF BLACKROCK INDEX SERVICES, LLC, WHO IS AN AFFILIATE, BLACKROCK INVESTMENTS, LLC IS NOT AFFILIATED WITH THE COMPANIES LISTED ABOVE. NEITHER FTSE, LSEG, NOR NAREIT MAKES ANY WARRANTY REGARDING THE FTSE NAREIT EQUITY REITS INDEX, FTSE NAREIT ALL RESIDENTIAL CAPPED INDEX OR FTSE NAREIT ALL MORTGAGE CAPPED INDEX. NEITHER FTSE, EPRA, LSEG, NOR NAREIT MAKES ANY WARRANTY REGARDING THE FTSE EPRA NAREIT DEVELOPED EX-U.S. INDEX, FTSE EPRA NAREIT DEVELOPED GREEN TARGET INDEX OR FTSE EPRA NAREIT GLOBAL REITS INDEX. “FTSE®” IS A TRADEMARK OF LONDON STOCK EXCHANGE GROUP COMPANIES AND IS USED BY FTSE UNDER LICENSE.\n©2023 BLACKROCK, INC OR ITS AFFILIATES. ALL RIGHTS RESERVED. ISHARES, IBONDS AND BLACKROCK ARE TRADEMARKS OF BLACKROCK, INC. OR ITS AFFILIATES. ALL OTHER TRADEMARKS ARE THOSE OF THEIR RESPECTIVE OWNERS.\nICRMH0323U/S-2742939: No timezone found, symbol may be delisted")
['CRDA']: Exception('%ticker%: No price data found, symbol may be delisted (1wk 1925-02-18 -> 2024-01-26)')

             BHVN                                                         \
             Open       High        Low      Close  Adj Close     Volume
Date
1962-01-01    NaN        NaN        NaN        NaN        NaN        NaN
1962-01-08    NaN        NaN        NaN        NaN        NaN        NaN
1962-01-15    NaN        NaN        NaN        NaN        NaN        NaN
1962-01-22    NaN        NaN        NaN        NaN        NaN        NaN
1962-01-29    NaN        NaN        NaN        NaN        NaN        NaN
...           ...        ...        ...        ...        ...        ...
2024-01-18    NaN        NaN        NaN        NaN        NaN        NaN
2024-01-22  44.91  49.650002  44.189999  44.720001  44.720001  4365218.0
2024-01-23    NaN        NaN        NaN        NaN        NaN        NaN
2024-01-24    NaN        NaN        NaN        NaN        NaN        NaN
2024-01-25    NaN        NaN        NaN        NaN        NaN        NaN

                 ADNT                                   ...       SCHW  \
                 Open       High        Low      Close  ...        Low
Date                                                    ...
1962-01-01        NaN        NaN        NaN        NaN  ...        NaN
1962-01-08        NaN        NaN        NaN        NaN  ...        NaN
1962-01-15        NaN        NaN        NaN        NaN  ...        NaN
1962-01-22        NaN        NaN        NaN        NaN  ...        NaN
1962-01-29        NaN        NaN        NaN        NaN  ...        NaN
...               ...        ...        ...        ...  ...        ...
2024-01-18        NaN        NaN        NaN        NaN  ...        NaN
2024-01-22  33.599998  35.290001  33.529999  34.830002  ...  63.139999
2024-01-23        NaN        NaN        NaN        NaN  ...        NaN
2024-01-24        NaN        NaN        NaN        NaN  ...        NaN
2024-01-25        NaN        NaN        NaN        NaN  ...        NaN

                                               LYTS                       \
                Close  Adj Close      Volume   Open   High    Low  Close
Date
1962-01-01        NaN        NaN         NaN    NaN    NaN    NaN    NaN
1962-01-08        NaN        NaN         NaN    NaN    NaN    NaN    NaN
1962-01-15        NaN        NaN         NaN    NaN    NaN    NaN    NaN
1962-01-22        NaN        NaN         NaN    NaN    NaN    NaN    NaN
1962-01-29        NaN        NaN         NaN    NaN    NaN    NaN    NaN
...               ...        ...         ...    ...    ...    ...    ...
2024-01-18        NaN        NaN         NaN    NaN    NaN    NaN    NaN
2024-01-22  64.281197  64.281197  30443693.0  13.68  14.85  13.45  14.07
2024-01-23        NaN        NaN         NaN    NaN    NaN    NaN    NaN
2024-01-24        NaN        NaN         NaN    NaN    NaN    NaN    NaN
2024-01-25        NaN        NaN         NaN    NaN    NaN    NaN    NaN


           Adj Close    Volume
Date
1962-01-01       NaN       NaN
1962-01-08       NaN       NaN
1962-01-15       NaN       NaN
1962-01-22       NaN       NaN
1962-01-29       NaN       NaN
...              ...       ...
2024-01-18       NaN       NaN
2024-01-22     14.07  926691.0
2024-01-23       NaN       NaN
2024-01-24       NaN       NaN
2024-01-25       NaN       NaN

[8887 rows x 15936 columns]

In [12]:
stock_price_data.columns.levels

FrozenList([['-', 'A', 'AADI', 'AAL', 'AAN', 'AAON', 'AAPL', 'AAT', 'ABBNY', 'ABBV', 'ABCB', 'ABG', 'ABM', 'ABNB', 'ABR', 'ABT', 'ABUS', 'ABVX', 'ACA', 'ACAD', 'ACCD', 'ACCO', 'ACDC', 'ACEL', 'ACET', 'ACGL', 'ACHR', 'ACIC', 'ACIW', 'ACLS', 'ACLX', 'ACMR', 'ACN', 'ACNB', 'ACRE', 'ACRS', 'ACRV', 'ACT', 'ACTG', 'ACVA', 'ADBE', 'ADEA', 'ADI', 'ADM', 'ADMA', 'ADNT', 'ADP', 'ADPT', 'ADRO', 'ADSK', 'ADTN', 'ADUS', 'ADV', 'AEE', 'AEHR', 'AEIS', 'AEL', 'AEO', 'AEP', 'AER', 'AES', 'AESI', 'AEVA', 'AFCG', 'AFL', 'AFRI', 'AFRM', 'AFYA', 'AGEN', 'AGIO', 'AGM', 'AGO', 'AGS', 'AGTI', 'AGX', 'AGYS', 'AHCO', 'AHH', 'AI', 'AIG', 'AIN', 'AIR', 'AIRS', 'AIT', 'AIV', 'AIZ', 'AJG', 'AKAM', 'AKR', 'AKRO', 'AKTS', 'AKYA', 'ALB', 'ALCO', 'ALDX', 'ALE', 'ALEC', 'ALEX', 'ALG', 'ALGN', ...], ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']])

In [19]:
stock_price_data.tail(20)

                          BHVN                                              \
                          Open       High        Low      Close  Adj Close
Date
2023-12-25 00:00:00  41.480000  44.290001  41.009998  42.799999  42.799999
2023-12-26 00:00:00        NaN        NaN        NaN        NaN        NaN
2023-12-27 00:00:00        NaN        NaN        NaN        NaN        NaN
2023-12-28 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-01 00:00:00  42.090000  43.830002  39.840000  42.590000  42.590000
2024-01-02 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-03 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-04 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-08 00:00:00  42.919998  48.660000  42.750000  45.340000  45.340000
2024-01-09 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-10 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-11 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-15 00:00:00  44.500000  45.584999  42.020000  44.349998  44.349998
2024-01-16 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-17 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-18 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-22 00:00:00  44.910000  49.650002  44.189999  44.720001  44.720001
2024-01-23 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-24 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-25 00:00:00        NaN        NaN        NaN        NaN        NaN

                                     ADNT                                   \
                        Volume       Open       High        Low      Close
Date
2023-12-25 00:00:00  4676800.0  36.970001  37.119999  36.250000  36.360001
2023-12-26 00:00:00        NaN        NaN        NaN        NaN        NaN
2023-12-27 00:00:00        NaN        NaN        NaN        NaN        NaN
2023-12-28 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-01 00:00:00  4325500.0  36.049999  37.040001  33.279999  34.290001
2024-01-02 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-03 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-04 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-08 00:00:00  6473300.0  34.160000  34.970001  32.485001  32.639999
2024-01-09 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-10 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-11 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-15 00:00:00  3867700.0  32.029999  33.195000  31.770000  33.130001
2024-01-16 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-17 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-18 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-22 00:00:00  4365218.0  33.599998  35.290001  33.529999  34.830002
2024-01-23 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-24 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-25 00:00:00        NaN        NaN        NaN        NaN        NaN

                     ...       SCHW                                     LYTS  \
                     ...        Low      Close  Adj Close      Volume   Open
Date                 ...
2023-12-25 00:00:00  ...  68.269997  68.800003  68.800003  18284700.0  13.99
2023-12-26 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2023-12-27 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2023-12-28 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-01 00:00:00  ...  66.300003  67.230003  67.230003  34770700.0  13.97
2024-01-02 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-03 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-04 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-08 00:00:00  ...  64.470001  65.230003  65.230003  38344300.0  13.37
2024-01-09 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-10 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-11 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-15 00:00:00  ...  59.669998  63.779999  63.779999  61277300.0  13.90
2024-01-16 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-17 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-18 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-22 00:00:00  ...  63.139999  64.281197  64.281197  30443693.0  13.68
2024-01-23 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-24 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-25 00:00:00  ...        NaN        NaN        NaN         NaN    NaN


                      High    Low  Close Adj Close    Volume
Date
2023-12-25 00:00:00  14.39  13.92  14.08     14.08  612800.0
2023-12-26 00:00:00    NaN    NaN    NaN       NaN       NaN
2023-12-27 00:00:00    NaN    NaN    NaN       NaN       NaN
2023-12-28 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-01 00:00:00  14.08  13.36  13.44     13.44  486700.0
2024-01-02 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-03 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-04 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-08 00:00:00  14.26  13.34  13.99     13.99  616600.0
2024-01-09 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-10 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-11 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-15 00:00:00  14.07  13.32  13.56     13.56  392600.0
2024-01-16 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-17 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-18 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-22 00:00:00  14.85  13.45  14.07     14.07  926691.0
2024-01-23 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-24 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-25 00:00:00    NaN    NaN    NaN       NaN       NaN

[20 rows x 15936 columns]

In [21]:
stock_price_data.dropna(how='all')

             BHVN                                                         \
             Open       High        Low      Close  Adj Close     Volume
Date
1962-01-01    NaN        NaN        NaN        NaN        NaN        NaN
1962-01-08    NaN        NaN        NaN        NaN        NaN        NaN
1962-01-15    NaN        NaN        NaN        NaN        NaN        NaN
1962-01-22    NaN        NaN        NaN        NaN        NaN        NaN
1962-01-29    NaN        NaN        NaN        NaN        NaN        NaN
...           ...        ...        ...        ...        ...        ...
2024-01-18    NaN        NaN        NaN        NaN        NaN        NaN
2024-01-22  44.91  49.650002  44.189999  44.720001  44.720001  4365218.0
2024-01-23    NaN        NaN        NaN        NaN        NaN        NaN
2024-01-24    NaN        NaN        NaN        NaN        NaN        NaN
2024-01-25    NaN        NaN        NaN        NaN        NaN        NaN

                 ADNT                                   ...       SCHW  \
                 Open       High        Low      Close  ...        Low
Date                                                    ...
1962-01-01        NaN        NaN        NaN        NaN  ...        NaN
1962-01-08        NaN        NaN        NaN        NaN  ...        NaN
1962-01-15        NaN        NaN        NaN        NaN  ...        NaN
1962-01-22        NaN        NaN        NaN        NaN  ...        NaN
1962-01-29        NaN        NaN        NaN        NaN  ...        NaN
...               ...        ...        ...        ...  ...        ...
2024-01-18        NaN        NaN        NaN        NaN  ...        NaN
2024-01-22  33.599998  35.290001  33.529999  34.830002  ...  63.139999
2024-01-23        NaN        NaN        NaN        NaN  ...        NaN
2024-01-24        NaN        NaN        NaN        NaN  ...        NaN
2024-01-25        NaN        NaN        NaN        NaN  ...        NaN

                                               LYTS                       \
                Close  Adj Close      Volume   Open   High    Low  Close
Date
1962-01-01        NaN        NaN         NaN    NaN    NaN    NaN    NaN
1962-01-08        NaN        NaN         NaN    NaN    NaN    NaN    NaN
1962-01-15        NaN        NaN         NaN    NaN    NaN    NaN    NaN
1962-01-22        NaN        NaN         NaN    NaN    NaN    NaN    NaN
1962-01-29        NaN        NaN         NaN    NaN    NaN    NaN    NaN
...               ...        ...         ...    ...    ...    ...    ...
2024-01-18        NaN        NaN         NaN    NaN    NaN    NaN    NaN
2024-01-22  64.281197  64.281197  30443693.0  13.68  14.85  13.45  14.07
2024-01-23        NaN        NaN         NaN    NaN    NaN    NaN    NaN
2024-01-24        NaN        NaN         NaN    NaN    NaN    NaN    NaN
2024-01-25        NaN        NaN         NaN    NaN    NaN    NaN    NaN


           Adj Close    Volume
Date
1962-01-01       NaN       NaN
1962-01-08       NaN       NaN
1962-01-15       NaN       NaN
1962-01-22       NaN       NaN
1962-01-29       NaN       NaN
...              ...       ...
2024-01-18       NaN       NaN
2024-01-22     14.07  926691.0
2024-01-23       NaN       NaN
2024-01-24       NaN       NaN
2024-01-25       NaN       NaN

[8887 rows x 15936 columns]

In [49]:
jan24 = stock_price_data[stock_price_data.index.get_level_values('Date') == pd.Timestamp('2024-01-24')]

In [50]:
jan24

                    BHVN                                 ADNT                 \
                    Open High Low Close Adj Close Volume Open High Low Close
Date
2024-01-24 00:00:00  NaN  NaN NaN   NaN       NaN    NaN  NaN  NaN NaN   NaN

                     ... SCHW                        LYTS                 \
                     ...  Low Close Adj Close Volume Open High Low Close
Date                 ...
2024-01-24 00:00:00  ...  NaN   NaN       NaN    NaN  NaN  NaN NaN   NaN


                    Adj Close Volume
Date
2024-01-24 00:00:00       NaN    NaN

[1 rows x 15936 columns]

In [51]:
jan24nona = jan24.dropna(axis=1)

In [52]:
jan24nona

                     ADV                                          HYLN        \
                    Open   High  Low  Close Adj Close     Volume  Open  High
Date
2024-01-24 00:00:00  4.0  4.135  3.9  4.035     4.035  1218165.0  1.11  1.24

                                 ...       RDNT                        \
                      Low Close  ...        Low      Close  Adj Close
Date                             ...
2024-01-24 00:00:00  1.09  1.11  ...  36.509998  37.560001  37.560001

                                FBMS                                   \
                       Volume   Open       High        Low      Close
Date
2024-01-24 00:00:00  911079.0  28.09  28.290001  25.809999  26.219999


                     Adj Close    Volume
Date
2024-01-24 00:00:00  26.219999  304566.0

[1 rows x 24 columns]

In [54]:
stock_price_data['ADV'].dropna()

              Open    High     Low   Close  Adj Close     Volume
Date
2020-01-01  10.400  10.400  10.400  10.400     10.400        0.0
2020-01-08  10.900  11.000  10.580  10.700     10.700   301100.0
2020-01-15  10.990  11.000  10.600  10.750     10.750   156700.0
2020-01-22  10.750  10.800  10.750  10.800     10.800   158500.0
2020-01-29  10.800  10.800  10.800  10.800     10.800        0.0
...            ...     ...     ...     ...        ...        ...
2023-12-27   3.990   4.040   3.580   3.600      3.600  2241500.0
2024-01-03   3.570   3.805   3.250   3.720      3.720  3208800.0
2024-01-10   3.755   4.126   3.695   3.740      3.740  2596900.0
2024-01-17   3.670   4.060   3.510   3.970      3.970  2704400.0
2024-01-24   4.000   4.135   3.900   4.035      4.035  1218165.0

[213 rows x 6 columns]

In [47]:
stock_price_data['VRTS'].dropna()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-01-01,9.000000,12.300000,7.000000,10.240000,8.377979,127200.0
2009-01-08,10.190000,11.450000,6.710000,6.710000,5.489869,227000.0
2009-01-15,6.690000,8.000000,6.010000,6.950000,5.686225,227400.0
2009-01-22,6.810000,6.810000,5.750000,6.350000,5.195327,186900.0
2009-01-29,6.490000,6.750000,5.740000,5.750000,4.704432,138900.0
...,...,...,...,...,...,...
2023-12-28,243.889999,247.869995,228.770004,229.110001,229.110001,141400.0
2024-01-04,231.080002,238.960007,231.080002,233.250000,233.250000,166500.0
2024-01-11,232.809998,237.669998,226.000000,229.289993,229.289993,149900.0
2024-01-18,229.750000,247.869995,228.399994,241.000000,241.000000,215400.0
2024-01-25,245.600006,248.156204,240.490005,244.800003,244.800003,38372.0

In [48]:
stock_price_data['BHVN'].dropna()

                 Open       High        Low      Close  Adj Close      Volume
Date
2022-09-19   6.000000   7.640000   6.000000   7.300000   7.300000   3344500.0
2022-09-26   7.700000   8.844000   6.180000   6.300000   6.300000   5128500.0
2022-10-03   6.390000  14.340000   5.540000  12.890000  12.890000  41102700.0
2022-10-10  12.500000  12.694000  10.330000  10.880000  10.880000   5736100.0
2022-10-17  11.240000  15.330000   9.450000  14.080000  14.080000  16758200.0
...               ...        ...        ...        ...        ...         ...
2023-12-25  41.480000  44.290001  41.009998  42.799999  42.799999   4676800.0
2024-01-01  42.090000  43.830002  39.840000  42.590000  42.590000   4325500.0
2024-01-08  42.919998  48.660000  42.750000  45.340000  45.340000   6473300.0
2024-01-15  44.500000  45.584999  42.020000  44.349998  44.349998   3867700.0
2024-01-22  44.910000  49.650002  44.189999  44.720001  44.720001   4365218.0

[71 rows x 6 columns]

In [22]:
bhvn = stock_price_data['BHVN']

In [23]:
bhvn

             Open       High        Low      Close  Adj Close     Volume
Date
1962-01-01    NaN        NaN        NaN        NaN        NaN        NaN
1962-01-08    NaN        NaN        NaN        NaN        NaN        NaN
1962-01-15    NaN        NaN        NaN        NaN        NaN        NaN
1962-01-22    NaN        NaN        NaN        NaN        NaN        NaN
1962-01-29    NaN        NaN        NaN        NaN        NaN        NaN
...           ...        ...        ...        ...        ...        ...
2024-01-18    NaN        NaN        NaN        NaN        NaN        NaN
2024-01-22  44.91  49.650002  44.189999  44.720001  44.720001  4365218.0
2024-01-23    NaN        NaN        NaN        NaN        NaN        NaN
2024-01-24    NaN        NaN        NaN        NaN        NaN        NaN
2024-01-25    NaN        NaN        NaN        NaN        NaN        NaN

[8887 rows x 6 columns]

In [24]:
bhvn.dropna(how="all")

                 Open       High        Low      Close  Adj Close      Volume
Date
2022-09-19   6.000000   7.640000   6.000000   7.300000   7.300000   3344500.0
2022-09-26   7.700000   8.844000   6.180000   6.300000   6.300000   5128500.0
2022-10-03   6.390000  14.340000   5.540000  12.890000  12.890000  41102700.0
2022-10-10  12.500000  12.694000  10.330000  10.880000  10.880000   5736100.0
2022-10-17  11.240000  15.330000   9.450000  14.080000  14.080000  16758200.0
...               ...        ...        ...        ...        ...         ...
2023-12-25  41.480000  44.290001  41.009998  42.799999  42.799999   4676800.0
2024-01-01  42.090000  43.830002  39.840000  42.590000  42.590000   4325500.0
2024-01-08  42.919998  48.660000  42.750000  45.340000  45.340000   6473300.0
2024-01-15  44.500000  45.584999  42.020000  44.349998  44.349998   3867700.0
2024-01-22  44.910000  49.650002  44.189999  44.720001  44.720001   4365218.0

[71 rows x 6 columns]

In [13]:
price_hist_file = f'data/all_stocks_price_hist_{price_interval}.csv.bz2'

In [14]:
stock_price_data.to_csv(price_hist_file, index='Date')

In [15]:
# stock_price_data.to_csv('data/all_stocks_price_hist.bak.csv', index='Date')

In [16]:
stock_price_data_loaded = pd.read_csv(price_hist_file, header=[0, 1], index_col=0)
stock_price_data_loaded

                      BHVN                                              \
                      Open       High        Low      Close  Adj Close
Date
1962-01-01 00:00:00    NaN        NaN        NaN        NaN        NaN
1962-01-08 00:00:00    NaN        NaN        NaN        NaN        NaN
1962-01-15 00:00:00    NaN        NaN        NaN        NaN        NaN
1962-01-22 00:00:00    NaN        NaN        NaN        NaN        NaN
1962-01-29 00:00:00    NaN        NaN        NaN        NaN        NaN
...                    ...        ...        ...        ...        ...
2024-01-18 00:00:00    NaN        NaN        NaN        NaN        NaN
2024-01-22 00:00:00  44.91  49.650002  44.189999  44.720001  44.720001
2024-01-23 00:00:00    NaN        NaN        NaN        NaN        NaN
2024-01-24 00:00:00    NaN        NaN        NaN        NaN        NaN
2024-01-25 00:00:00    NaN        NaN        NaN        NaN        NaN

                                     ADNT                                   \
                        Volume       Open       High        Low      Close
Date
1962-01-01 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-08 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-15 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-22 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-29 00:00:00        NaN        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...        ...
2024-01-18 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-22 00:00:00  4365218.0  33.599998  35.290001  33.529999  34.830002
2024-01-23 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-24 00:00:00        NaN        NaN        NaN        NaN        NaN
2024-01-25 00:00:00        NaN        NaN        NaN        NaN        NaN

                     ...       SCHW                                     LYTS  \
                     ...        Low      Close  Adj Close      Volume   Open
Date                 ...
1962-01-01 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
1962-01-08 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
1962-01-15 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
1962-01-22 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
1962-01-29 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
...                  ...        ...        ...        ...         ...    ...
2024-01-18 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-22 00:00:00  ...  63.139999  64.281197  64.281197  30443693.0  13.68
2024-01-23 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-24 00:00:00  ...        NaN        NaN        NaN         NaN    NaN
2024-01-25 00:00:00  ...        NaN        NaN        NaN         NaN    NaN


                      High    Low  Close Adj Close    Volume
Date
1962-01-01 00:00:00    NaN    NaN    NaN       NaN       NaN
1962-01-08 00:00:00    NaN    NaN    NaN       NaN       NaN
1962-01-15 00:00:00    NaN    NaN    NaN       NaN       NaN
1962-01-22 00:00:00    NaN    NaN    NaN       NaN       NaN
1962-01-29 00:00:00    NaN    NaN    NaN       NaN       NaN
...                    ...    ...    ...       ...       ...
2024-01-18 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-22 00:00:00  14.85  13.45  14.07     14.07  926691.0
2024-01-23 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-24 00:00:00    NaN    NaN    NaN       NaN       NaN
2024-01-25 00:00:00    NaN    NaN    NaN       NaN       NaN

[8887 rows x 15936 columns]

In [ ]:
for ticker in stock_price_data_loaded.columns.levels[0][:2]:
    print(f'ticker: {ticker}')
    ticker_data = stock_price_data_loaded[ticker]
    print(f'ticker historic data: {ticker_data}')
    # remove missing values
    ticker_data = ticker_data.dropna()
    print(f'ticker historic data without missing data: {ticker_data}')

## Prepare historical stock sales and earnings data

In [ ]:
from dotenv import load_dotenv
import os

load_dotenv()

FMP_API_KEY=os.getenv("FMP_API_KEY")

print(f'FMP_API_KEY={FMP_API_KEY!= None}')

In [ ]:
import fmpsdk

# Company Valuation Methods
symbol: str = "AAPL"
symbols: ["AAPL", "CSCO", "QQQQ"]
exchange: str = "NYSE"
exchanges: ["NYSE", "NASDAQ"]
query: str = "AA"
limit: int = 3
period: str = "quarter"
download: bool = True
market_cap_more_than: int = 1000000000
beta_more_than: int = 1
volume_more_than: int = 10000
sector: str = "Technology"
dividend_more_than: int = 0
industry: str = "Software"
filing_type: str = "10-K"
print(f"Company Profile: {fmpsdk.company_profile(apikey=FMP_API_KEY, symbol=symbol)=}")

In [ ]:
earnings_all_df = pd.DataFrame()
for ticker in stocks_ticker_set: # ['AAON']: # 
    earnings = fmpsdk.historical_earning_calendar(apikey=FMP_API_KEY, symbol=ticker, limit=-1)
    if earnings is not None and len(earnings) > 0:
        edf = pd.DataFrame(earnings)
        edf['date'] = pd.to_datetime(edf['date'])
        edf = edf.set_index(['symbol', 'date'])
        # edf = edf.pivot(columns='symbol')
        # edf.swaplevel(i=0,j=1, axis=0)
        # edf.drop(columns=['symbol'])
        earnings_all_df = pd.concat([earnings_all_df, edf])
        n_earnings = len(earnings)
        # print(f"Total earnings reports for {ticker}: {n_earnings}")
#    earliest_earn = earnings[-1] if len(earnings > 0 else 'None')
#    print(f"Earliest earnings report for {ticker}: {earliest_earn}")

In [ ]:
earnings

In [ ]:
aaon = earnings_all_df.loc[['AAON']]

In [ ]:
aaon

In [ ]:
len(earnings_all_df)

In [ ]:
earnings_all_df

In [ ]:
len(earnings_all_df.index.levels[0])

In [ ]:
earnings_file = 'data/earnings_calendar.csv.bz2'

In [ ]:
earnings_all_df.to_csv(earnings_file)

### Read back data and verify it

In [ ]:
import pandas as pd

earnings_loaded_df = pd.read_csv('data/earnings_calendar.csv.bz2', index_col=['symbol', 'date'])
print(earnings_loaded_df)

## Prepare historical dividends
  * This is secondary information since growth stocks usually do not have dividends and rarely have splits
  * Additionally the dividends and split information is partially reflected in Adj Close of price history data

In [ ]:
def fetch_dividends_history():
    divs_hist_all_df = pd.DataFrame()
    for ticker in stocks_ticker_set: # ['AAON']:
        divs_hist = fmpsdk.historical_stock_dividend(apikey=FMP_API_KEY, symbol=ticker)
        # print(f"Loaded historical dividends for {ticker}: \n{divs_hist}")
        print(f"Loaded {len(divs_hist['historical'])} historical dividends for {ticker}")
        if divs_hist['historical'] is not None and len(divs_hist['historical']) > 0:
            dh_df_tmp = pd.DataFrame.from_dict(data=divs_hist['historical'])
            # print(f"Historical dividends for {ticker} dataframe: \n{dh_df_tmp.head()}")
            dh_df_tmp['symbol'] = ticker
            dh_df = dh_df_tmp
            # print(f"Historical dividends for {ticker} dataframe: \n{dh_df_tmp.head()}")
            # print(f"Historical dividends for {ticker} full dataframe: \n{dh_df.head()}")
            dh_df['date'] = pd.to_datetime(dh_df['date'])
            dh_df = dh_df.set_index(['symbol', 'date'])
            n_divs_hist = len(dh_df)
            print(f"Total dividends history reports for {ticker}: {n_divs_hist}")
            # print(f"Historical dividends for {ticker} full dataframe: \n{dh_df}")
            divs_hist_all_df = pd.concat([divs_hist_all_df, dh_df])
    return divs_hist_all_df

In [ ]:
# divs_hist_file = 'data/dividends_history.csv.bz2'

In [ ]:
# divs_hist_all_df.to_csv(divs_hist_file)

### Read back data and verify it

In [ ]:
import pandas as pd

earnings_loaded_df = pd.read_csv('data/earnings_calendar.csv.bz2', index_col=['symbol', 'date'])
print(earnings_loaded_df)

## Prepare key metrics data for company fundamentals

In [ ]:

keymetrics_all_df = pd.DataFrame()
for ticker in stocks_ticker_set:
    kms = fmpsdk.key_metrics(apikey=FMP_API_KEY, symbol=ticker, period='quarter', limit=-1)
    if kms is not None and len(kms) > 0:
        kms_df = pd.DataFrame(kms)
        kms_df['date'] = pd.to_datetime(kms_df['date'])
        kms_df = kms_df.set_index(['symbol', 'date'])
        # print(f"Key metrics for {ticker} sample: \n{kms_df.columns}")
        keymetrics_all_df = pd.concat([keymetrics_all_df, kms_df])
        # print(f"Key metrics concatenated {ticker}: \n{keymetrics_all_df.columns}")
        n_kms = len(kms_df)
        print(f"Total key metrics reports for {ticker}: {n_kms}")
    else:
        print(f"No {ticker} key metrics reports: kms={kms}")

Experiment with other stock data

In [ ]:
keymetrics_all_df

In [ ]:
kms_file = 'data/keymetrics_history.csv.bz2'
keymetrics_all_df.to_csv(kms_file)

## Prepare forward looking analyst estimates to be used as future covariates

In [ ]:
DEFAULT_LIMIT=-1
import typing
from fmpsdk.url_methods import __return_json_v3, __validate_period


def analyst_estimates(
    apikey: str, 
    symbol: str, 
    period: str = "annual",
    limit: int = DEFAULT_LIMIT
) -> typing.Optional[typing.List[typing.Dict]]:
    """
    Query FMP /analyst-estimates/ API.

    :param apikey: Your API key.
    :param symbol: Company ticker.
    :param period: 'annual' or 'quarter'
    :param limit: Number of rows to return.
    :return: A list of dictionaries.
    """
    path = f"/analyst-estimates/{symbol}"
    query_vars = {
        "apikey": apikey,
        "symbol": symbol,
        "period": __validate_period(value=period),
        "limit": limit,
    }
    return __return_json_v3(path=path, query_vars=query_vars)

In [ ]:

def fetch_estimates(period=None):
    assert period in ['quarter', 'annual']
    estimates_all_df = pd.DataFrame()
    for ticker in stocks_ticker_set: # ['ALTR']: 
        est = analyst_estimates(apikey=FMP_API_KEY, symbol=ticker, period=period, limit=-1)
        # print('est:', est)
        if est is not None and len(est) > 0:
            est_df = pd.DataFrame(est)
            est_df['date'] = pd.to_datetime(est_df['date'])
            est_df = est_df.set_index(['symbol', 'date'])
            # print(f"Analyst estimates for {ticker} sample: \n{est_df.columns}")
            estimates_all_df = pd.concat([estimates_all_df, est_df])
            # print(f"Key metrics concatenated {ticker}: \n{estimates_all_df.columns}")
            n_est = len(est_df)
            print(f"{n_est} total {ticker} {period} analyst estimates reports")
        else:
            print(f"No {ticker} {period} analyst estimates reports: est={est}")

    return estimates_all_df

In [ ]:
# 'TW' in stocks_ticker_set

In [ ]:
for p in ['annual', 'quarter']:
    estimates_all_df = fetch_estimates(p)
    est_file_name= f'data/analyst_estimates_{p}.csv.bz2'    
    estimates_all_df.to_csv(est_file_name)
    print(f'all {p} estimates count:', len(estimates_all_df.index))