In [1]:
pip install -r requirements.txt

Requirement already satisfied: darts in /home/ivelin/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 1)) (0.27.1)
Requirement already satisfied: yfinance in /home/ivelin/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 2)) (0.2.33)
Requirement already satisfied: holidays>=0.11.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (0.39)
Requirement already satisfied: joblib>=0.16.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.2.0)
Requirement already satisfied: matplotlib>=3.3.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (3.7.2)
Requirement already satisfied: nfoursid>=1.0.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.0.1)
Requirement already satisfied: numpy>=1.19.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.24.3)
Requirement already satisfied: pmdarima>=1.8.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.0.4)
Requirement already satisfied: pyod>=0.9.5 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.1.2)
Requirement already satisfied: requests>=2.22.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.31.0)
Requirement already satisfied: scikit-learn>=1.0.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.3.0)
Requirement already satisfied: scipy>=1.3.2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.11.1)
Requirement already satisfied: shap>=0.40.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (0.44.0)
Requirement already satisfied: statsforecast>=1.4 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.7.0)
Requirement already satisfied: statsmodels>=0.14.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (0.14.0)
Requirement already satisfied: tbats>=1.1.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (1.1.3)
Requirement already satisfied: tqdm>=4.60.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (4.65.0)
Requirement already satisfied: typing-extensions in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (4.7.1)
Requirement already satisfied: xarray>=0.17.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2023.6.0)
Requirement already satisfied: xgboost>=1.6.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.0.3)
Requirement already satisfied: pytorch-lightning>=1.5.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.1.3)
Requirement already satisfied: tensorboardX>=2.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.6.2.2)
Requirement already satisfied: torch>=1.8.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.1.2)
Requirement already satisfied: pandas>=1.0.5 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from darts->-r requirements.txt (line 1)) (2.0.3)
Requirement already satisfied: multitasking>=0.0.7 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (2.3.10)
Requirement already satisfied: peewee>=3.16.2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from yfinance->-r requirements.txt (line 2)) (1.1)
Requirement already satisfied: soupsieve>1.2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance->-r requirements.txt (line 2)) (2.4)
Requirement already satisfied: python-dateutil in /home/ivelin/.local/lib/python3.11/site-packages (from holidays>=0.11.1->darts->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: six>=1.9 in /home/ivelin/.local/lib/python3.11/site-packages (from html5lib>=1.1->yfinance->-r requirements.txt (line 2)) (1.16.0)
Requirement already satisfied: webencodings in /home/ivelin/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance->-r requirements.txt (line 2)) (0.5.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/ivelin/.local/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.3.0->darts->-r requirements.txt (line 1)) (3.0.9)
Requirement already satisfied: tzdata>=2022.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pandas>=1.0.5->darts->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pmdarima>=1.8.0->darts->-r requirements.txt (line 1)) (3.0.7)
Requirement already satisfied: urllib3 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pmdarima>=1.8.0->darts->-r requirements.txt (line 1)) (1.26.16)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pmdarima>=1.8.0->darts->-r requirements.txt (line 1)) (68.0.0)
Requirement already satisfied: numba>=0.51 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pyod>=0.9.5->darts->-r requirements.txt (line 1)) (0.57.1)
Requirement already satisfied: PyYAML>=5.4 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (6.0)
Requirement already satisfied: fsspec[http]>=2022.5.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (2023.4.0)
Requirement already satisfied: torchmetrics>=0.7.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (1.2.1)
Requirement already satisfied: lightning-utilities>=0.8.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (0.10.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from requests>=2.22.0->darts->-r requirements.txt (line 1)) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from requests>=2.22.0->darts->-r requirements.txt (line 1)) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from requests>=2.22.0->darts->-r requirements.txt (line 1)) (2023.7.22)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from scikit-learn>=1.0.1->darts->-r requirements.txt (line 1)) (2.2.0)
Requirement already satisfied: slicer==0.0.7 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from shap>=0.40.0->darts->-r requirements.txt (line 1)) (0.0.7)
Requirement already satisfied: cloudpickle in /home/ivelin/anaconda3/lib/python3.11/site-packages (from shap>=0.40.0->darts->-r requirements.txt (line 1)) (2.2.1)
Requirement already satisfied: fugue>=0.8.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from statsforecast>=1.4->darts->-r requirements.txt (line 1)) (0.8.7)
Requirement already satisfied: utilsforecast>=0.0.23 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from statsforecast>=1.4->darts->-r requirements.txt (line 1)) (0.0.23)
Requirement already satisfied: patsy>=0.5.2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from statsmodels>=0.14.0->darts->-r requirements.txt (line 1)) (0.5.3)
Requirement already satisfied: protobuf>=3.20 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from tensorboardX>=2.1->darts->-r requirements.txt (line 1)) (4.25.1)
Requirement already satisfied: filelock in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (3.9.0)
Requirement already satisfied: sympy in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (1.11.1)
Requirement already satisfied: networkx in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (3.1)
Requirement already satisfied: jinja2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (3.1.2)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.1.105 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.1.105)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.1.105 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.1.105)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.1.105 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.1.105)
Requirement already satisfied: nvidia-cudnn-cu12==8.9.2.26 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (8.9.2.26)
Requirement already satisfied: nvidia-cublas-cu12==12.1.3.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.1.3.1)
Requirement already satisfied: nvidia-cufft-cu12==11.0.2.54 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (11.0.2.54)
Requirement already satisfied: nvidia-curand-cu12==10.3.2.106 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (10.3.2.106)
Requirement already satisfied: nvidia-cusolver-cu12==11.4.5.107 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (11.4.5.107)
Requirement already satisfied: nvidia-cusparse-cu12==12.1.0.106 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.1.0.106)
Requirement already satisfied: nvidia-nccl-cu12==2.18.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (2.18.1)
Requirement already satisfied: nvidia-nvtx-cu12==12.1.105 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.1.105)
Requirement already satisfied: triton==2.1.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from torch>=1.8.0->darts->-r requirements.txt (line 1)) (2.1.0)
Requirement already satisfied: nvidia-nvjitlink-cu12 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from nvidia-cusolver-cu12==11.4.5.107->torch>=1.8.0->darts->-r requirements.txt (line 1)) (12.3.101)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (3.8.5)
Requirement already satisfied: triad>=0.9.3 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (0.9.3)
Requirement already satisfied: adagio>=0.2.4 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (0.2.4)
Requirement already satisfied: qpd>=0.4.4 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (0.4.4)
Requirement already satisfied: fugue-sql-antlr>=0.1.6 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: sqlglot in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (20.5.0)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from numba>=0.51->pyod>=0.9.5->darts->-r requirements.txt (line 1)) (0.40.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from jinja2->torch>=1.8.0->darts->-r requirements.txt (line 1)) (2.1.1)
Requirement already satisfied: mpmath>=0.19 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from sympy->torch>=1.8.0->darts->-r requirements.txt (line 1)) (1.3.0)
Requirement already satisfied: attrs>=17.3.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (22.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (6.0.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts->-r requirements.txt (line 1)) (1.2.0)
Requirement already satisfied: antlr4-python3-runtime<4.12 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from fugue-sql-antlr>=0.1.6->fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (4.11.1)
Requirement already satisfied: pyarrow>=6.0.1 in /home/ivelin/anaconda3/lib/python3.11/site-packages (from triad>=0.9.3->fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (11.0.0)
Requirement already satisfied: fs in /home/ivelin/anaconda3/lib/python3.11/site-packages (from triad>=0.9.3->fugue>=0.8.1->statsforecast>=1.4->darts->-r requirements.txt (line 1)) (2.4.16)
Note: you may need to restart the kernel to use updated packages.

Explore stock market dataset from Yahoo Finance

In [2]:
import yfinance as yf
import pandas as pd

Load broad market indicies

In [3]:
# Capture S&P500, NASDAQ100 and Russell 200 indecies and their equal weighted counter parts
# As well as VIX volatility index, DYX US Dollar index and TNX US 10 Year Treasuries Rate Index
broad_market_indicies = '^SPX ^SPXEW ^NDX ^NDXE ^RUT ^R2ESC ^VIX DX-Y.NYB ^TNX'

In [4]:
broad_market = yf.download(broad_market_indicies, period='max', group_by='tickers') 
broad_market

[*********************100%%**********************]  9 of 9 completed

                 ^R2ESC                                                      \
                   Open         High          Low        Close    Adj Close
Date
1927-12-30          NaN          NaN          NaN          NaN          NaN
1928-01-03          NaN          NaN          NaN          NaN          NaN
1928-01-04          NaN          NaN          NaN          NaN          NaN
1928-01-05          NaN          NaN          NaN          NaN          NaN
1928-01-06          NaN          NaN          NaN          NaN          NaN
...                 ...          ...          ...          ...          ...
2024-01-05          NaN          NaN          NaN          NaN          NaN
2024-01-08          NaN          NaN          NaN          NaN          NaN
2024-01-09          NaN          NaN          NaN          NaN          NaN
2024-01-10          NaN          NaN          NaN          NaN          NaN
2024-01-11  4283.420898  4283.420898  4212.569824  4245.154785  4245.154785

                           ^NDX                                            \
           Volume          Open          High           Low         Close
Date
1927-12-30    NaN           NaN           NaN           NaN           NaN
1928-01-03    NaN           NaN           NaN           NaN           NaN
1928-01-04    NaN           NaN           NaN           NaN           NaN
1928-01-05    NaN           NaN           NaN           NaN           NaN
1928-01-06    NaN           NaN           NaN           NaN           NaN
...           ...           ...           ...           ...           ...
2024-01-05    NaN  16281.740234  16415.390625  16249.190430  16305.980469
2024-01-08    NaN  16354.219727  16655.230469  16349.389648  16649.869141
2024-01-09    NaN  16531.960938  16710.880859  16513.730469  16678.699219
2024-01-10    NaN  16702.550781  16827.369141  16654.740234  16793.050781
2024-01-11    0.0  16852.189453  16898.156250  16618.857422  16807.226562

            ...   ^VIX                           ^TNX                       \
            ...    Low  Close Adj Close Volume   Open   High    Low  Close
Date        ...
1927-12-30  ...    NaN    NaN       NaN    NaN    NaN    NaN    NaN    NaN
1928-01-03  ...    NaN    NaN       NaN    NaN    NaN    NaN    NaN    NaN
1928-01-04  ...    NaN    NaN       NaN    NaN    NaN    NaN    NaN    NaN
1928-01-05  ...    NaN    NaN       NaN    NaN    NaN    NaN    NaN    NaN
1928-01-06  ...    NaN    NaN       NaN    NaN    NaN    NaN    NaN    NaN
...         ...    ...    ...       ...    ...    ...    ...    ...    ...
2024-01-05  ...  13.29  13.35     13.35    0.0  4.038  4.099  3.953  4.042
2024-01-08  ...  13.02  13.08     13.08    0.0  4.059  4.063  3.966  4.002
2024-01-09  ...  12.74  12.76     12.76    0.0  4.047  4.053  3.996  4.019
2024-01-10  ...  12.67  12.69     12.69    0.0  3.992  4.038  3.985  4.030
2024-01-11  ...  12.35  12.50     12.50    0.0  3.994  4.068  3.973  3.977


           Adj Close Volume
Date
1927-12-30       NaN    NaN
1928-01-03       NaN    NaN
1928-01-04       NaN    NaN
1928-01-05       NaN    NaN
1928-01-06       NaN    NaN
...              ...    ...
2024-01-05     4.042    0.0
2024-01-08     4.002    0.0
2024-01-09     4.019    0.0
2024-01-10     4.030    0.0
2024-01-11     3.977    0.0

[24312 rows x 54 columns]

In [5]:
broad_market.to_csv('data/broad_market.csv.bz2', index='Date')

Load Sector Indicies

In [6]:
sector_indicies = 'XLE ^SP500-15 ^SP500-20 ^SP500-25 ^SP500-30 ^SP500-35 ^SP500-40 ^SP500-45 ^SP500-50 ^SP500-55 ^SP500-60'

In [7]:
sectors = yf.download(sector_indicies, period='max') 
sectors

[*********************100%%**********************]  11 of 11 completed

            Adj Close                                                   \
                  XLE   ^SP500-15   ^SP500-20    ^SP500-25   ^SP500-30
Date
1993-05-04        NaN   90.040001   94.949997    99.760002   88.180000
1993-05-05        NaN   89.930000   95.599998    99.500000   88.820000
1993-05-06        NaN   89.500000   96.019997    99.190002   88.400002
1993-05-07        NaN   89.239998   95.919998    99.129997   89.019997
1993-05-10        NaN   88.970001   95.910004    99.660004   89.510002
...               ...         ...         ...          ...         ...
2024-01-05  84.680000  531.940002  944.000000  1369.160034  762.549988
2024-01-08  83.699997  534.140015  949.500000  1393.359985  767.989990
2024-01-09  82.360001  528.280029  947.200012  1391.469971  769.840027
2024-01-10  81.550003  527.380005  951.739990  1405.160034  768.869995
2024-01-11  81.629997  525.510010         NaN          NaN  767.099976

                                                                          ...  \
              ^SP500-35   ^SP500-40    ^SP500-45   ^SP500-50   ^SP500-55  ...
Date                                                                      ...
1993-05-04    90.959999  106.129997    76.226318  105.379997  123.500000  ...
1993-05-05    91.760002  105.000000    76.886284  105.190002  123.610001  ...
1993-05-06    90.550003  104.629997    76.416306  105.059998  123.309998  ...
1993-05-07    90.120003  103.550003    77.086273  104.510002  122.980003  ...
1993-05-10    90.230003  103.940002    77.026276  104.839996  122.699997  ...
...                 ...         ...          ...         ...         ...  ...
2024-01-05  1623.319946  628.429993  3259.479980  243.149994  327.839996  ...
2024-01-08  1636.959961  632.179993  3348.979980  247.389999  330.209991  ...
2024-01-09  1637.630005  627.820007  3357.510010  247.710007  327.709991  ...
2024-01-10  1644.439941  629.109985  3391.169922  250.600006  327.500000  ...
2024-01-11  1640.619995  626.179993          NaN  250.039993         NaN  ...

                Volume                                                      \
             ^SP500-15    ^SP500-20    ^SP500-25    ^SP500-30    ^SP500-35
Date
1993-05-04         0.0          0.0          0.0          0.0          0.0
1993-05-05         0.0          0.0          0.0          0.0          0.0
1993-05-06         0.0          0.0          0.0          0.0          0.0
1993-05-07         0.0          0.0          0.0          0.0          0.0
1993-05-10         0.0          0.0          0.0          0.0          0.0
...                ...          ...          ...          ...          ...
2024-01-05  75850600.0  191691700.0  347338000.0  169828800.0  202498100.0
2024-01-08  61706800.0  269992200.0  324459400.0  181937400.0  209041500.0
2024-01-09  64120200.0  205739800.0  331708400.0  171085500.0  215474400.0
2024-01-10  57973200.0  201222100.0  319374600.0  168925200.0  212350300.0
2024-01-11  48197217.0          NaN          NaN  102159296.0  138475623.0


              ^SP500-40    ^SP500-45    ^SP500-50    ^SP500-55   ^SP500-60
Date
1993-05-04          0.0          0.0          0.0          0.0         NaN
1993-05-05          0.0          0.0          0.0          0.0         NaN
1993-05-06          0.0          0.0          0.0          0.0         NaN
1993-05-07          0.0          0.0          0.0          0.0         NaN
1993-05-10          0.0          0.0          0.0          0.0         NaN
...                 ...          ...          ...          ...         ...
2024-01-05  315048600.0  393173700.0  198923200.0  103646800.0  64040100.0
2024-01-08  269235700.0  444198100.0  208738200.0   89677200.0  67380400.0
2024-01-09  268999800.0  457807700.0  204909200.0   91835300.0  61971300.0
2024-01-10  255272100.0  434185600.0  201007800.0   87843100.0  68950100.0
2024-01-11  214309960.0          NaN  171565499.0          NaN  45122281.0

[7729 rows x 66 columns]

In [8]:
sectors.to_csv('data/sectors.csv.bz2')

Load Growth Stocks

In [9]:

ibd50 = pd.read_csv('data/IBD50.csv')
ibd50

   Symbol
0     GCT
1    NVDA
2    CRWD
3     RCL
4    AMPH
5     ELF
6     CCL
7    CELH
8    ASND
9      ZS
10   DDOG
11      S
12    IOT
13    NOW
14   ANET
15   TEAM
16   STNE
17   LULU
18   META
19   WDAY
20    PDD
21     XP
22    CRM
23   MELI
24   FTAI
25    NET
26   SMCI
27   GTLB
28  RYAAY
29    URI
30   MMYT
31    LPG
32   DASH
33    NVO
34    TDW
35   AXON
36   ITCI
37   FRPT
38   IMCR
39   MNDY
40   AAON
41   SNOW
42    OZK
43    KKR
44   NTRA
45   DXCM
46   FROG
47    JPM
48    FIX
49   BKNG

In [10]:
ibd250 = pd.read_csv('data/IBD250.csv')
ibd250

    Symbol
0     INTU
1     ALKT
2     FICO
3     GWRE
4     COIN
..     ...
295   CAMT
296   STLA
297   RACE
298  RYAAY
299  ABBNY

[300 rows x 1 columns]

In [11]:
# merge IBD 50 and 250 symbol sets
ibd50_set = set(ibd50['Symbol'])
ibd250_set = set(ibd250['Symbol'])
ibd_growth_set = ibd50_set.union(ibd250_set)

In [12]:
len(ibd_growth_set)

309

In [13]:
ibdgrowth_str = ' '.join(ibd_growth_set)
ibdgrowth_str

'TPH MMYT RCL PVH RELX CARR BLDR CAH AER OBDC GVA IMGN URI PNC SHOP AFYA PH AROC CHKP TDW BROS LULU OSW PLUS OWL CAMT AXP ETN ZG CADE EME ROL TGH GTLB PWR ESTC INFA TRIP PLAB PBRA AMPH TOL NTNX AOS FOUR IDCC HIG PCAR ANET BLD GPK RYZB FOR MELI COLB CCL WSM MBIN CDRE IMCR WFRD FRSH MNST BK CRH VRTX MNDY TBBK AZEK ABBNY HOLI FI NVO SMCI BLBD BKNG FRPT OC RY AX TWLO BLX ALLE FLR FLT WOR MATX ZS STLA AMGN ZION LRN BCO LEN XP FSS AMD GWRE ICE DFH GEN JPM ELF COF OTEX MARA NFLX DUOL HWM FTAI ASND GE FROG MAIN DKS DV AMZN SQ GBDC ROST TIMB CLS META DB TMUS V SPOT YELP KKR BAC SFM URBN FLEX BX CNM BSX WING OZK PTC DOCN PNFP AZTA MHO TREX WIX COIN WDAY FIX UBS KD AMK WRB QCOM EXPE ARCO HWKN SKX CMG NBIX STRL S CRM ITT MS AMP GFF DXCM BR SKWD DT SNOW DBX ARM MBWM ISRG NMIH GEL MCO GLOB NVDA STNE NET MEDP OFG WTFC NTRA WBS MSFT JBI PATH MAS LHX LMB IBP ALKT TSLX GPN ARES MOD IHG SHW CRWD MLM TPX AGO CRS COST PCOR ALTR VSTS WAL CRSP SPXC XYL BAM APO DECK HG ALKS Z FBIN CAT PDD IR DDOG RAMP DASH RGA TW TJX FERG IDXX AWI TMHC KNF VRNS LII FITB BURL RYAAY RACE CRBG GCT INTU NSIT GPS WFC ANF GDDY PSN IT ALLY ITGR AIG FICO NOW EWBC TWST AEO ASML CYBR BLK BMI MAR GOOG AXON PINS FNF TXRH ZTS ITCI BOH IOT VRT COLL REGN BLKB ASO ADSK SCCO SSD WAB TEAM AAON TT MFC ERIE QLYS GOOGL PANW STN HUBS CSWC DHI TRI ERJ SYF EDU LPG KBH CB AVGO CELH RL ENSG PHM ARVN DOCU PRI'

In [14]:
ibdgrowth_data = yf.download(ibdgrowth_str, period='max', group_by='tickers') 
ibdgrowth_data

[*********************100%%**********************]  309 of 309 completed

1 Failed download:
['PBRA']: Exception('%ticker%: No timezone found, symbol may be delisted')

                 BROS                                                         \
                 Open       High        Low      Close  Adj Close     Volume
Date
1962-01-02        NaN        NaN        NaN        NaN        NaN        NaN
1962-01-03        NaN        NaN        NaN        NaN        NaN        NaN
1962-01-04        NaN        NaN        NaN        NaN        NaN        NaN
1962-01-05        NaN        NaN        NaN        NaN        NaN        NaN
1962-01-08        NaN        NaN        NaN        NaN        NaN        NaN
...               ...        ...        ...        ...        ...        ...
2024-01-05  30.900000  31.780001  30.799999  31.110001  31.110001  1860100.0
2024-01-08  31.240000  31.500000  28.340000  29.690001  29.690001  3998600.0
2024-01-09  29.469999  29.620001  28.590000  28.629999  28.629999  2211900.0
2024-01-10  28.700001  29.760000  28.639999  29.480000  29.480000  1605100.0
2024-01-11  29.510000  29.590000  28.230000  28.270100  28.270100  1028658.0

             OBDC                         ...          CB              \
             Open    High     Low  Close  ...         Low       Close
Date                                      ...
1962-01-02    NaN     NaN     NaN    NaN  ...         NaN         NaN
1962-01-03    NaN     NaN     NaN    NaN  ...         NaN         NaN
1962-01-04    NaN     NaN     NaN    NaN  ...         NaN         NaN
1962-01-05    NaN     NaN     NaN    NaN  ...         NaN         NaN
1962-01-08    NaN     NaN     NaN    NaN  ...         NaN         NaN
...           ...     ...     ...    ...  ...         ...         ...
2024-01-05  14.97  15.025  14.915  14.96  ...  226.630005  227.699997
2024-01-08  14.96  15.100  14.910  15.08  ...  223.690002  226.199997
2024-01-09  15.04  15.150  14.990  15.06  ...  222.860001  225.309998
2024-01-10  15.08  15.160  15.035  15.05  ...  223.550003  225.250000
2024-01-11  15.05  15.080  14.835  15.05  ...  224.740005  227.220001

                                          PHM                          \
             Adj Close     Volume        Open        High         Low
Date
1962-01-02         NaN        NaN         NaN         NaN         NaN
1962-01-03         NaN        NaN         NaN         NaN         NaN
1962-01-04         NaN        NaN         NaN         NaN         NaN
1962-01-05         NaN        NaN         NaN         NaN         NaN
1962-01-08         NaN        NaN         NaN         NaN         NaN
...                ...        ...         ...         ...         ...
2024-01-05  227.699997  1439200.0   99.860001  102.330002   99.860001
2024-01-08  226.199997  1535500.0  102.330002  103.769997  102.239998
2024-01-09  225.309998  1293300.0  102.550003  103.570000  102.320000
2024-01-10  225.250000  1716800.0  104.709999  106.110001  104.529999
2024-01-11  227.220001   919674.0  103.940002  105.654999  103.450996


                 Close   Adj Close     Volume
Date
1962-01-02         NaN         NaN        NaN
1962-01-03         NaN         NaN        NaN
1962-01-04         NaN         NaN        NaN
1962-01-05         NaN         NaN        NaN
1962-01-08         NaN         NaN        NaN
...                ...         ...        ...
2024-01-05  101.480003  101.480003  1601900.0
2024-01-08  103.730003  103.730003  1538100.0
2024-01-09  103.309998  103.309998  1289000.0
2024-01-10  105.209999  105.209999  1421500.0
2024-01-11  105.654999  105.654999   789373.0

[15614 rows x 1854 columns]

In [15]:
ibdgrowth_data.columns.levels

FrozenList([['AAON', 'ABBNY', 'ADSK', 'AEO', 'AER', 'AFYA', 'AGO', 'AIG', 'ALKS', 'ALKT', 'ALLE', 'ALLY', 'ALTR', 'AMD', 'AMGN', 'AMK', 'AMP', 'AMPH', 'AMZN', 'ANET', 'ANF', 'AOS', 'APO', 'ARCO', 'ARES', 'ARM', 'AROC', 'ARVN', 'ASML', 'ASND', 'ASO', 'AVGO', 'AWI', 'AX', 'AXON', 'AXP', 'AZEK', 'AZTA', 'BAC', 'BAM', 'BCO', 'BK', 'BKNG', 'BLBD', 'BLD', 'BLDR', 'BLK', 'BLKB', 'BLX', 'BMI', 'BOH', 'BR', 'BROS', 'BSX', 'BURL', 'BX', 'CADE', 'CAH', 'CAMT', 'CARR', 'CAT', 'CB', 'CCL', 'CDRE', 'CELH', 'CHKP', 'CLS', 'CMG', 'CNM', 'COF', 'COIN', 'COLB', 'COLL', 'COST', 'CRBG', 'CRH', 'CRM', 'CRS', 'CRSP', 'CRWD', 'CSWC', 'CYBR', 'DASH', 'DB', 'DBX', 'DDOG', 'DECK', 'DFH', 'DHI', 'DKS', 'DOCN', 'DOCU', 'DT', 'DUOL', 'DV', 'DXCM', 'EDU', 'ELF', 'EME', 'ENSG', ...], ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']])

In [16]:
# for ticker in ibd50_data.columns.levels[0]:
#    print(f'ticker: {ticker}')
#    ticker_data = ibd50_data[ticker]
#    print(f'ticker historic data: {ticker_data}')
#    # remove missing values
#    ticker_data = ticker_data.dropna()
#    print(f'ticker historic data: {ticker_data}')
#    # save ticker data
#    ticker_data.to_csv(f'data/{ticker}.csv')

In [17]:
ibdgrowth_data.to_csv('data/ibdgrowth_hist.csv.bz2', index='Date')

In [18]:
ibdgrowth_loaded = pd.read_csv('data/ibdgrowth_hist.csv.bz2', header=[0, 1], index_col=0)
ibdgrowth_loaded

                          BROS                                              \
                          Open       High        Low      Close  Adj Close
Date
1962-01-02 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-03 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-04 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-05 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-08 00:00:00        NaN        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...        ...
2024-01-05 00:00:00  30.900000  31.780001  30.799999  31.110001  31.110001
2024-01-08 00:00:00  31.240000  31.500000  28.340000  29.690001  29.690001
2024-01-09 00:00:00  29.469999  29.620001  28.590000  28.629999  28.629999
2024-01-10 00:00:00  28.700001  29.760000  28.639999  29.480000  29.480000
2024-01-11 00:00:00  29.510000  29.590000  28.230000  28.270100  28.270100

                                 OBDC                         ...          CB  \
                        Volume   Open    High     Low  Close  ...         Low
Date                                                          ...
1962-01-02 00:00:00        NaN    NaN     NaN     NaN    NaN  ...         NaN
1962-01-03 00:00:00        NaN    NaN     NaN     NaN    NaN  ...         NaN
1962-01-04 00:00:00        NaN    NaN     NaN     NaN    NaN  ...         NaN
1962-01-05 00:00:00        NaN    NaN     NaN     NaN    NaN  ...         NaN
1962-01-08 00:00:00        NaN    NaN     NaN     NaN    NaN  ...         NaN
...                        ...    ...     ...     ...    ...  ...         ...
2024-01-05 00:00:00  1860100.0  14.97  15.025  14.915  14.96  ...  226.630005
2024-01-08 00:00:00  3998600.0  14.96  15.100  14.910  15.08  ...  223.690002
2024-01-09 00:00:00  2211900.0  15.04  15.150  14.990  15.06  ...  222.860001
2024-01-10 00:00:00  1605100.0  15.08  15.160  15.035  15.05  ...  223.550003
2024-01-11 00:00:00  1028658.0  15.05  15.080  14.835  15.05  ...  224.740005

                                                               PHM  \
                          Close   Adj Close     Volume        Open
Date
1962-01-02 00:00:00         NaN         NaN        NaN         NaN
1962-01-03 00:00:00         NaN         NaN        NaN         NaN
1962-01-04 00:00:00         NaN         NaN        NaN         NaN
1962-01-05 00:00:00         NaN         NaN        NaN         NaN
1962-01-08 00:00:00         NaN         NaN        NaN         NaN
...                         ...         ...        ...         ...
2024-01-05 00:00:00  227.699997  227.699997  1439200.0   99.860001
2024-01-08 00:00:00  226.199997  226.199997  1535500.0  102.330002
2024-01-09 00:00:00  225.309998  225.309998  1293300.0  102.550003
2024-01-10 00:00:00  225.250000  225.250000  1716800.0  104.709999
2024-01-11 00:00:00  227.220001  227.220001   919674.0  103.940002


                           High         Low       Close   Adj Close     Volume
Date
1962-01-02 00:00:00         NaN         NaN         NaN         NaN        NaN
1962-01-03 00:00:00         NaN         NaN         NaN         NaN        NaN
1962-01-04 00:00:00         NaN         NaN         NaN         NaN        NaN
1962-01-05 00:00:00         NaN         NaN         NaN         NaN        NaN
1962-01-08 00:00:00         NaN         NaN         NaN         NaN        NaN
...                         ...         ...         ...         ...        ...
2024-01-05 00:00:00  102.330002   99.860001  101.480003  101.480003  1601900.0
2024-01-08 00:00:00  103.769997  102.239998  103.730003  103.730003  1538100.0
2024-01-09 00:00:00  103.570000  102.320000  103.309998  103.309998  1289000.0
2024-01-10 00:00:00  106.110001  104.529999  105.209999  105.209999  1421500.0
2024-01-11 00:00:00  105.654999  103.450996  105.654999  105.654999   789373.0

[15614 rows x 1854 columns]

In [19]:
for ticker in ibdgrowth_loaded.columns.levels[0][:2]:
    print(f'ticker: {ticker}')
    ticker_data = ibdgrowth_loaded[ticker]
    print(f'ticker historic data: {ticker_data}')
    # remove missing values
    ticker_data = ticker_data.dropna()
    print(f'ticker historic data without missing data: {ticker_data}')

ticker: AAON
ticker historic data:                           Open       High        Low      Close  Adj Close  \
Date
1962-01-02 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-03 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-04 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-05 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-08 00:00:00        NaN        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...        ...
2024-01-05 00:00:00  73.070000  73.959999  71.730003  72.449997  72.449997
2024-01-08 00:00:00  72.360001  73.760002  72.360001  73.699997  73.699997
2024-01-09 00:00:00  72.750000  73.360001  72.459999  72.680000  72.680000
2024-01-10 00:00:00  72.470001  72.970001  71.709999  71.849998  71.849998
2024-01-11 00:00:00  71.580002  72.129997  70.720497  71.410004  71.410004

                       Volume
Date
1962-01-02 00:00:00       NaN
1962-01-03 00:00:00       NaN
1962-01-04 00:00:00       NaN
1962-01-05 00:00:00       NaN
1962-01-08 00:00:00       NaN
...                       ...
2024-01-05 00:00:00  349600.0
2024-01-08 00:00:00  234500.0
2024-01-09 00:00:00  347300.0
2024-01-10 00:00:00  240000.0
2024-01-11 00:00:00  200345.0

[15614 rows x 6 columns]
ticker historic data without missing data:                           Open       High        Low      Close  Adj Close  \
Date
1992-12-16 00:00:00   0.066509   0.066509   0.066509   0.066509   0.050325
1992-12-17 00:00:00   0.079810   0.086461   0.066509   0.079810   0.060390
1992-12-18 00:00:00   0.079810   0.079810   0.079810   0.079810   0.060390
1992-12-21 00:00:00   0.066509   0.066509   0.059858   0.066509   0.050325
1992-12-22 00:00:00   0.066509   0.079810   0.066509   0.079810   0.060390
...                        ...        ...        ...        ...        ...
2024-01-05 00:00:00  73.070000  73.959999  71.730003  72.449997  72.449997
2024-01-08 00:00:00  72.360001  73.760002  72.360001  73.699997  73.699997
2024-01-09 00:00:00  72.750000  73.360001  72.459999  72.680000  72.680000
2024-01-10 00:00:00  72.470001  72.970001  71.709999  71.849998  71.849998
2024-01-11 00:00:00  71.580002  72.129997  70.720497  71.410004  71.410004

                       Volume
Date
1992-12-16 00:00:00    3759.0
1992-12-17 00:00:00  246208.0
1992-12-18 00:00:00   22553.0
1992-12-21 00:00:00   50745.0
1992-12-22 00:00:00   93973.0
...                       ...
2024-01-05 00:00:00  349600.0
2024-01-08 00:00:00  234500.0
2024-01-09 00:00:00  347300.0
2024-01-10 00:00:00  240000.0
2024-01-11 00:00:00  200345.0

[7824 rows x 6 columns]
ticker: ABBNY
ticker historic data:                           Open       High        Low      Close  Adj Close  \
Date
1962-01-02 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-03 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-04 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-05 00:00:00        NaN        NaN        NaN        NaN        NaN
1962-01-08 00:00:00        NaN        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...        ...
2024-01-05 00:00:00  42.180000  42.560001  42.099998  42.209999  42.209999
2024-01-08 00:00:00  42.540001  43.029999  42.540001  42.939999  42.939999
2024-01-09 00:00:00  42.470001  42.560001  42.259998  42.320000  42.320000
2024-01-10 00:00:00  42.570000  42.740002  42.520000  42.619999  42.619999
2024-01-11 00:00:00  42.779999  42.869999  42.270000  42.669998  42.669998

                       Volume
Date
1962-01-02 00:00:00       NaN
1962-01-03 00:00:00       NaN
1962-01-04 00:00:00       NaN
1962-01-05 00:00:00       NaN
1962-01-08 00:00:00       NaN
...                       ...
2024-01-05 00:00:00  188100.0
2024-01-08 00:00:00  162500.0
2024-01-09 00:00:00  275000.0
2024-01-10 00:00:00  188200.0
2024-01-11 00:00:00  108860.0

[15614 rows x 6 columns]
ticker historic data without missing data:                           Open       High        Low      Close  Adj Close  \
Date
2001-04-06 00:00:00  17.000000  17.000000  16.781250  16.828125   7.985837
2001-04-09 00:00:00  16.900000  17.299999  16.900000  17.299999   8.209764
2001-04-10 00:00:00  17.750000  17.920000  17.700001  17.790001   8.442297
2001-04-11 00:00:00  17.500000  17.600000  17.400000  17.600000   8.352133
2001-04-12 00:00:00  17.500000  17.500000  17.400000  17.500000   8.304676
...                        ...        ...        ...        ...        ...
2024-01-05 00:00:00  42.180000  42.560001  42.099998  42.209999  42.209999
2024-01-08 00:00:00  42.540001  43.029999  42.540001  42.939999  42.939999
2024-01-09 00:00:00  42.470001  42.560001  42.259998  42.320000  42.320000
2024-01-10 00:00:00  42.570000  42.740002  42.520000  42.619999  42.619999
2024-01-11 00:00:00  42.779999  42.869999  42.270000  42.669998  42.669998

                       Volume
Date
2001-04-06 00:00:00  162100.0
2001-04-09 00:00:00   31300.0
2001-04-10 00:00:00   39500.0
2001-04-11 00:00:00   17900.0
2001-04-12 00:00:00   33000.0
...                       ...
2024-01-05 00:00:00  188100.0
2024-01-08 00:00:00  162500.0
2024-01-09 00:00:00  275000.0
2024-01-10 00:00:00  188200.0
2024-01-11 00:00:00  108860.0

[5727 rows x 6 columns]

Experiment with other stock data

In [20]:

msft = yf.Ticker("MSFT")
print(msft)
"""
returns
<yfinance.Ticker object at 0x1a1715e898>
"""

yfinance.Ticker object <MSFT>

'\nreturns\n<yfinance.Ticker object at 0x1a1715e898>\n'

In [21]:
import json

# get stock info
print(json.dumps(msft.info, indent=2))

"""
returns:
{
 'quoteType': 'EQUITY',
 'quoteSourceName': 'Nasdaq Real Time Price',
 'currency': 'USD',
 'shortName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
  ...
 'symbol': 'MSFT'
}
"""

{
  "address1": "One Microsoft Way",
  "city": "Redmond",
  "state": "WA",
  "zip": "98052-6399",
  "country": "United States",
  "phone": "425 882 8080",
  "website": "https://www.microsoft.com",
  "industry": "Software - Infrastructure",
  "industryKey": "software-infrastructure",
  "industryDisp": "Software - Infrastructure",
  "sector": "Technology",
  "sectorKey": "technology",
  "sectorDisp": "Technology",
  "longBusinessSummary": "Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.",
  "fullTimeEmployees": 221000,
  "companyOfficers": [
    {
      "maxAge": 1,
      "name": "Mr. Satya  Nadella",
      "age": 56,
      "title": "Chairman & CEO",
      "yearBorn": 1967,
      "fiscalYear": 2023,
      "totalPay": 9276400,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Mr. Bradford L. Smith LCA",
      "age": 64,
      "title": "President & Vice Chairman",
      "yearBorn": 1959,
      "fiscalYear": 2023,
      "totalPay": 3591277,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Ms. Amy E. Hood",
      "age": 51,
      "title": "Executive VP & CFO",
      "yearBorn": 1972,
      "fiscalYear": 2023,
      "totalPay": 3452196,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Mr. Judson B. Althoff",
      "age": 50,
      "title": "Executive VP & Chief Commercial Officer",
      "yearBorn": 1973,
      "fiscalYear": 2023,
      "totalPay": 3355797,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Mr. Christopher David Young",
      "age": 51,
      "title": "Executive Vice President of Business Development, Strategy & Ventures",
      "yearBorn": 1972,
      "fiscalYear": 2023,
      "totalPay": 2460507,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Ms. Alice L. Jolla",
      "age": 57,
      "title": "Corporate VP & Chief Accounting Officer",
      "yearBorn": 1966,
      "fiscalYear": 2023,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Mr. James Kevin Scott",
      "age": 51,
      "title": "Executive VP of AI & CTO",
      "yearBorn": 1972,
      "fiscalYear": 2023,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Brett  Iversen",
      "title": "Vice President of Investor Relations",
      "fiscalYear": 2023,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Mr. Hossein  Nowbar",
      "title": "Chief Legal Officer",
      "fiscalYear": 2023,
      "exercisedValue": 0,
      "unexercisedValue": 0
    },
    {
      "maxAge": 1,
      "name": "Mr. Frank X. Shaw",
      "title": "Chief Communications Officer",
      "fiscalYear": 2023,
      "exercisedValue": 0,
      "unexercisedValue": 0
    }
  ],
  "auditRisk": 6,
  "boardRisk": 4,
  "compensationRisk": 2,
  "shareHolderRightsRisk": 2,
  "overallRisk": 2,
  "governanceEpochDate": 1704067200,
  "compensationAsOfEpochDate": 1703980800,
  "maxAge": 86400,
  "priceHint": 2,
  "previousClose": 382.77,
  "open": 386.0,
  "dayLow": 380.38,
  "dayHigh": 390.68,
  "regularMarketPreviousClose": 382.77,
  "regularMarketOpen": 386.0,
  "regularMarketDayLow": 380.38,
  "regularMarketDayHigh": 390.68,
  "dividendRate": 3.0,
  "dividendYield": 0.0078,
  "exDividendDate": 1707868800,
  "payoutRatio": 0.2636,
  "fiveYearAvgDividendYield": 1.0,
  "beta": 0.876,
  "trailingPE": 37.23233,
  "forwardPE": 29.722565,
  "volume": 20611107,
  "regularMarketVolume": 20611107,
  "averageVolume": 26145319,
  "averageVolume10days": 20762040,
  "averageDailyVolume10Day": 20762040,
  "bid": 384.37,
  "ask": 384.48,
  "bidSize": 1200,
  "askSize": 900,
  "marketCap": 2858521460736,
  "fiftyTwoWeekLow": 230.68,
  "fiftyTwoWeekHigh": 390.68,
  "priceToSalesTrailing12Months": 13.093864,
  "fiftyDayAverage": 369.454,
  "twoHundredDayAverage": 333.4384,
  "trailingAnnualDividendRate": 2.79,
  "trailingAnnualDividendYield": 0.0072889724,
  "currency": "USD",
  "enterpriseValue": 2806583132160,
  "profitMargins": 0.35314998,
  "floatShares": 7425796261,
  "sharesOutstanding": 7432260096,
  "sharesShort": 51394982,
  "sharesShortPriorMonth": 49279547,
  "sharesShortPreviousMonthDate": 1701302400,
  "dateShortInterest": 1703808000,
  "sharesPercentSharesOut": 0.0069,
  "heldPercentInsiders": 0.00055,
  "heldPercentInstitutions": 0.73008,
  "shortRatio": 1.94,
  "shortPercentOfFloat": 0.0069,
  "impliedSharesOutstanding": 7432260096,
  "bookValue": 29.702,
  "priceToBook": 12.948959,
  "lastFiscalYearEnd": 1688083200,
  "nextFiscalYearEnd": 1719705600,
  "mostRecentQuarter": 1696032000,
  "earningsQuarterlyGrowth": 0.27,
  "netIncomeToCommon": 77096001536,
  "trailingEps": 10.33,
  "forwardEps": 12.94,
  "pegRatio": 2.21,
  "lastSplitFactor": "2:1",
  "lastSplitDate": 1045526400,
  "enterpriseToRevenue": 12.856,
  "enterpriseToEbitda": 25.635,
  "52WeekChange": 0.6048384,
  "SandP52WeekChange": 0.20091534,
  "lastDividendValue": 0.75,
  "lastDividendDate": 1700006400,
  "exchange": "NMS",
  "quoteType": "EQUITY",
  "symbol": "MSFT",
  "underlyingSymbol": "MSFT",
  "shortName": "Microsoft Corporation",
  "longName": "Microsoft Corporation",
  "firstTradeDateEpochUtc": 511108200,
  "timeZoneFullName": "America/New_York",
  "timeZoneShortName": "EST",
  "uuid": "b004b3ec-de24-385e-b2c1-923f10d3fb62",
  "messageBoardId": "finmb_21835",
  "gmtOffSetMilliseconds": -18000000,
  "currentPrice": 384.61,
  "targetHighPrice": 475.0,
  "targetLowPrice": 285.0,
  "targetMeanPrice": 411.49,
  "targetMedianPrice": 415.0,
  "recommendationMean": 1.7,
  "recommendationKey": "buy",
  "numberOfAnalystOpinions": 45,
  "totalCash": 143945007104,
  "totalCashPerShare": 19.368,
  "ebitda": 109482999808,
  "totalDebt": 105681002496,
  "quickRatio": 1.531,
  "currentRatio": 1.663,
  "totalRevenue": 218310000640,
  "debtToEquity": 47.881,
  "revenuePerShare": 29.347,
  "returnOnAssets": 0.14718,
  "returnOnEquity": 0.39106998,
  "freeCashflow": 51013873664,
  "operatingCashflow": 94966996992,
  "earningsGrowth": 0.272,
  "revenueGrowth": 0.128,
  "grossMargins": 0.69511,
  "ebitdaMargins": 0.5015,
  "operatingMargins": 0.47587,
  "financialCurrency": "USD",
  "trailingPegRatio": 2.3164
}

"\nreturns:\n{\n 'quoteType': 'EQUITY',\n 'quoteSourceName': 'Nasdaq Real Time Price',\n 'currency': 'USD',\n 'shortName': 'Microsoft Corporation',\n 'exchangeTimezoneName': 'America/New_York',\n  ...\n 'symbol': 'MSFT'\n}\n"

In [22]:

# get historical market data
msft_hist = msft.history(period="max")
print(msft_hist)
"""
returns:
              Open    High    Low    Close      Volume  Dividends  Splits
Date
1986-03-13    0.06    0.07    0.06    0.07  1031788800        0.0     0.0
1986-03-14    0.07    0.07    0.07    0.07   308160000        0.0     0.0
...
2019-04-15  120.94  121.58  120.57  121.05    15792600        0.0     0.0
2019-04-16  121.64  121.65  120.10  120.77    14059700        0.0     0.0
"""

                                 Open        High         Low       Close  \
Date
1986-03-13 00:00:00-05:00    0.054893    0.062965    0.054893    0.060274
1986-03-14 00:00:00-05:00    0.060274    0.063504    0.060274    0.062427
1986-03-17 00:00:00-05:00    0.062427    0.064042    0.062427    0.063504
1986-03-18 00:00:00-05:00    0.063504    0.064042    0.061350    0.061889
1986-03-19 00:00:00-05:00    0.061889    0.062427    0.060274    0.060812
...                               ...         ...         ...         ...
2024-01-05 00:00:00-05:00  368.970001  372.059998  366.500000  367.750000
2024-01-08 00:00:00-05:00  369.299988  375.200012  369.010010  374.690002
2024-01-09 00:00:00-05:00  372.010010  375.989990  371.190002  375.790009
2024-01-10 00:00:00-05:00  376.369995  384.170013  376.320007  382.769989
2024-01-11 00:00:00-05:00  386.000000  390.679993  380.380005  384.579987

                               Volume  Dividends  Stock Splits
Date
1986-03-13 00:00:00-05:00  1031788800        0.0           0.0
1986-03-14 00:00:00-05:00   308160000        0.0           0.0
1986-03-17 00:00:00-05:00   133171200        0.0           0.0
1986-03-18 00:00:00-05:00    67766400        0.0           0.0
1986-03-19 00:00:00-05:00    47894400        0.0           0.0
...                               ...        ...           ...
2024-01-05 00:00:00-05:00    20987000        0.0           0.0
2024-01-08 00:00:00-05:00    23134000        0.0           0.0
2024-01-09 00:00:00-05:00    20830000        0.0           0.0
2024-01-10 00:00:00-05:00    25514200        0.0           0.0
2024-01-11 00:00:00-05:00    20610390        0.0           0.0

[9535 rows x 7 columns]

'\nreturns:\n              Open    High    Low    Close      Volume  Dividends  Splits\nDate\n1986-03-13    0.06    0.07    0.06    0.07  1031788800        0.0     0.0\n1986-03-14    0.07    0.07    0.07    0.07   308160000        0.0     0.0\n...\n2019-04-15  120.94  121.58  120.57  121.05    15792600        0.0     0.0\n2019-04-16  121.64  121.65  120.10  120.77    14059700        0.0     0.0\n'

In [23]:
# show actions (dividends, splits)
print(msft.actions)
"""
returns:
            Dividends  Splits
Date
1987-09-21       0.00     2.0
1990-04-16       0.00     2.0
...
2018-11-14       0.46     0.0
2019-02-20       0.46     0.0
"""

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2022-11-16 00:00:00-05:00       0.68           0.0
2023-02-15 00:00:00-05:00       0.68           0.0
2023-05-17 00:00:00-04:00       0.68           0.0
2023-08-16 00:00:00-04:00       0.68           0.0
2023-11-15 00:00:00-05:00       0.75           0.0

[89 rows x 2 columns]

'\nreturns:\n            Dividends  Splits\nDate\n1987-09-21       0.00     2.0\n1990-04-16       0.00     2.0\n...\n2018-11-14       0.46     0.0\n2019-02-20       0.46     0.0\n'

In [24]:

# show dividends
print(msft.dividends)
"""
returns:
Date
2003-02-19    0.08
2003-10-15    0.16
...
2018-11-14    0.46
2019-02-20    0.46
"""

Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2022-11-16 00:00:00-05:00    0.68
2023-02-15 00:00:00-05:00    0.68
2023-05-17 00:00:00-04:00    0.68
2023-08-16 00:00:00-04:00    0.68
2023-11-15 00:00:00-05:00    0.75
Name: Dividends, Length: 80, dtype: float64

'\nreturns:\nDate\n2003-02-19    0.08\n2003-10-15    0.16\n...\n2018-11-14    0.46\n2019-02-20    0.46\n'

In [25]:
# show splits
print(msft.splits)
"""
returns:
Date
1987-09-21    2.0
1990-04-16    2.0
...
1999-03-29    2.0
2003-02-18    2.0
"""

Date
1987-09-21 00:00:00-04:00    2.0
1990-04-16 00:00:00-04:00    2.0
1991-06-27 00:00:00-04:00    1.5
1992-06-15 00:00:00-04:00    1.5
1994-05-23 00:00:00-04:00    2.0
1996-12-09 00:00:00-05:00    2.0
1998-02-23 00:00:00-05:00    2.0
1999-03-29 00:00:00-05:00    2.0
2003-02-18 00:00:00-05:00    2.0
Name: Stock Splits, dtype: float64

'\nreturns:\nDate\n1987-09-21    2.0\n1990-04-16    2.0\n...\n1999-03-29    2.0\n2003-02-18    2.0\n'

In [26]:
msft_hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.054893,0.062965,0.054893,0.060274,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.060274,0.063504,0.060274,0.062427,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.062427,0.064042,0.062427,0.063504,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.063504,0.064042,0.061350,0.061889,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.061889,0.062427,0.060274,0.060812,47894400,0.0,0.0

In [27]:
msft_hist.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-05 00:00:00-05:00,368.970001,372.059998,366.500000,367.750000,20987000,0.0,0.0
2024-01-08 00:00:00-05:00,369.299988,375.200012,369.010010,374.690002,23134000,0.0,0.0
2024-01-09 00:00:00-05:00,372.010010,375.989990,371.190002,375.790009,20830000,0.0,0.0
2024-01-10 00:00:00-05:00,376.369995,384.170013,376.320007,382.769989,25514200,0.0,0.0
2024-01-11 00:00:00-05:00,386.000000,390.679993,380.380005,384.579987,20610390,0.0,0.0

In [28]:
# create a deep copy so we can experiment with data without triggering unnecessary downloads 
df=msft_hist.copy(deep=True)

# df=msft_hist.reset_index(drop=True)
# data['Date']=pd.to_datetime(data['Date'])
print(len(df))
df.head()

9535

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.054893,0.062965,0.054893,0.060274,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.060274,0.063504,0.060274,0.062427,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.062427,0.064042,0.062427,0.063504,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.063504,0.064042,0.061350,0.061889,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.061889,0.062427,0.060274,0.060812,47894400,0.0,0.0

Ingest data into darts timeseries

In [29]:
# Count rows without values
# https://stackoverflow.com/questions/28199524/best-way-to-count-the-number-of-rows-with-missing-values-in-a-pandas-dataframe
df.shape[0] - df.dropna().shape[0]

0

In [30]:
# count any cells without values
df.isnull().values.ravel().sum()

0

Convert data to timeseries format that models can work with

Regular time intervals between data points and no missing values

In [31]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.054893,0.062965,0.054893,0.060274,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.060274,0.063504,0.060274,0.062427,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.062427,0.064042,0.062427,0.063504,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.063504,0.064042,0.061350,0.061889,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.061889,0.062427,0.060274,0.060812,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-05 00:00:00-05:00,368.970001,372.059998,366.500000,367.750000,20987000,0.0,0.0
2024-01-08 00:00:00-05:00,369.299988,375.200012,369.010010,374.690002,23134000,0.0,0.0
2024-01-09 00:00:00-05:00,372.010010,375.989990,371.190002,375.790009,20830000,0.0,0.0
2024-01-10 00:00:00-05:00,376.369995,384.170013,376.320007,382.769989,25514200,0.0,0.0
2024-01-11 00:00:00-05:00,386.000000,390.679993,380.380005,384.579987,20610390,0.0,0.0

In [32]:
import pandas as pd

# Clean up date index. Remove time zone.
df.index = pd.to_datetime(df.index, utc=True).date
df.index = pd.to_datetime(df.index, utc=True)
df.index.name = 'Date'
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00+00:00,0.054893,0.062965,0.054893,0.060274,1031788800,0.0,0.0
1986-03-14 00:00:00+00:00,0.060274,0.063504,0.060274,0.062427,308160000,0.0,0.0
1986-03-17 00:00:00+00:00,0.062427,0.064042,0.062427,0.063504,133171200,0.0,0.0
1986-03-18 00:00:00+00:00,0.063504,0.064042,0.061350,0.061889,67766400,0.0,0.0
1986-03-19 00:00:00+00:00,0.061889,0.062427,0.060274,0.060812,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-05 00:00:00+00:00,368.970001,372.059998,366.500000,367.750000,20987000,0.0,0.0
2024-01-08 00:00:00+00:00,369.299988,375.200012,369.010010,374.690002,23134000,0.0,0.0
2024-01-09 00:00:00+00:00,372.010010,375.989990,371.190002,375.790009,20830000,0.0,0.0
2024-01-10 00:00:00+00:00,376.369995,384.170013,376.320007,382.769989,25514200,0.0,0.0
2024-01-11 00:00:00+00:00,386.000000,390.679993,380.380005,384.579987,20610390,0.0,0.0

In [33]:
df.index

DatetimeIndex(['1986-03-13 00:00:00+00:00', '1986-03-14 00:00:00+00:00',
               '1986-03-17 00:00:00+00:00', '1986-03-18 00:00:00+00:00',
               '1986-03-19 00:00:00+00:00', '1986-03-20 00:00:00+00:00',
               '1986-03-21 00:00:00+00:00', '1986-03-24 00:00:00+00:00',
               '1986-03-25 00:00:00+00:00', '1986-03-26 00:00:00+00:00',
               ...
               '2023-12-28 00:00:00+00:00', '2023-12-29 00:00:00+00:00',
               '2024-01-02 00:00:00+00:00', '2024-01-03 00:00:00+00:00',
               '2024-01-04 00:00:00+00:00', '2024-01-05 00:00:00+00:00',
               '2024-01-08 00:00:00+00:00', '2024-01-09 00:00:00+00:00',
               '2024-01-10 00:00:00+00:00', '2024-01-11 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='Date', length=9535, freq=None)

In [34]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [35]:
from darts import TimeSeries

series = TimeSeries.from_dataframe(df, fill_missing_dates=True, freq='B') # value_cols=["Close"],  "Open", "High", "Low", "Close", "Volume", "Dividends", "Stock Splits"

The provided DatetimeIndex was associated with a timezone, which is currently not supported by xarray. To avoid unexpected behaviour, the tz information was removed. Consider calling `ts.time_index.tz_localize(UTC)` when exporting the results.To plot the series with the right time steps, consider setting the matplotlib.pyplot `rcParams['timezone']` parameter to automatically convert the time axis back to the original timezone.

In [36]:
# get regularized time series with NaN fill-ins
reg_df = series.pd_dataframe()

In [37]:
# get number of rows without values
reg_df.shape[0] - reg_df.dropna().shape[0]

336

In [38]:
# fill in missing values
reg_df = reg_df.interpolate()

In [39]:
# Check again number of rows without values. Should be 0.
reg_df.shape[0] - reg_df.dropna().shape[0]

0

In [40]:
# update series with new regularized dates and values
series = TimeSeries.from_dataframe(reg_df)

Save prepared timeseries data to local csv for model training

In [41]:
data_file_name = 'data/msft_data.csv'

In [42]:
# series.to_csv(data_file_name)

Make sure data can load back into timeseries

In [44]:
# series = TimeSeries.from_csv(data_file_name, time_col='Date') #, freq='B')

In [ ]:
series

In [ ]:
# get regularized time series with NaN fill-ins
loaded_df = series.pd_dataframe()

In [ ]:
# get number of rows without values
loaded_df.shape[0] - loaded_df.dropna().shape[0]